In [2]:
import joblib
model_image= joblib.load('/content/drive/MyDrive/image_basline_model_67.pkl')
model_text=joblib.load('/content/drive/MyDrive/text_basline_model_72.pkl')

In [3]:
from keras import Model
from keras.layers.core import Dense, Activation
from keras.layers import Conv2D, Conv1D, MaxPooling2D, Reshape, Concatenate, Dropout , MaxPooling1D, Flatten
from keras.layers import Dense, Input

In [4]:
out1 = model_text.output

In [5]:
out2=model_image.output

In [6]:
from keras.layers import concatenate 
from keras.layers import Concatenate 

x = concatenate([out1, out2])

In [7]:
out = Dense(2, activation='softmax',name="dense_c")(x)

In [8]:
model2 = Model(inputs=[model_text.input, model_image.input], outputs=[out])

model2.compile(optimizer='adam', loss='sparse_categorical_crossentropy',metrics=['accuracy'])

In [9]:
model2.summary()

Model: "model"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 input_1 (InputLayer)           [(None, 150, 150, 3  0           []
                                )]

 conv1_pad (ZeroPadding2D)      (None, 156, 156, 3)  0           ['input_1[0][0]']

 conv1_conv (Conv2D)            (None, 75, 75, 64)   9472        ['conv1_pad[0][0]']

 conv1_bn (BatchNormalization)  (None, 75, 75, 64)   256         ['conv1_conv[0][0]']

 conv1_relu (Activation)        (None, 75, 75, 64)   0           ['conv1_bn[0][0]']

 pool1_pad (ZeroPadding2D)      (None, 77, 77, 64)   0           ['conv1_relu[0][0]']

 pool1_pool (MaxPooling2D)      (None, 38, 38, 64)   0           ['pool1_pad[0][0]']

 conv2_block1_1_conv (Conv2D)   (None, 38, 38, 64)   4160        ['pool1_pool[0][0]']

 conv2_block1_1_bn (BatchNormal  (None, 38, 38, 64)  256         ['conv2_block1_1_conv[0][0]']
 ization)

 conv2_block1_1_relu (Activatio  (None, 38, 38, 64)  0           ['conv2_block1_1_bn[0][0]']
 n)

 conv2_block1_2_conv (Conv2D)   (None, 38, 38, 64)   36928       ['conv2_block1_1_relu[0][0]']

 conv2_block1_2_bn (BatchNormal  (None, 38, 38, 64)  256         ['conv2_block1_2_conv[0][0]']
 ization)

 conv2_block1_2_relu (Activatio  (None, 38, 38, 64)  0           ['conv2_block1_2_bn[0][0]']
 n)

 conv2_block1_0_conv (Conv2D)   (None, 38, 38, 256)  16640       ['pool1_pool[0][0]']

 conv2_block1_3_conv (Conv2D)   (None, 38, 38, 256)  16640       ['conv2_block1_2_relu[0][0]']

 conv2_block1_0_bn (BatchNormal  (None, 38, 38, 256)  1024       ['conv2_block1_0_conv[0][0]']
 ization)

 conv2_block1_3_bn (BatchNormal  (None, 38, 38, 256)  1024       ['conv2_block1_3_conv[0][0]']
 ization)

 conv2_block1_add (Add)         (None, 38, 38, 256)  0           ['conv2_block1_0_bn[0][0]',
                                                                  'conv2_block1_3_bn[0][0]']

 conv2_block1_out (Activation)  (None, 38, 38, 256)  0           ['conv2_block1_add[0][0]']

 conv2_block2_1_conv (Conv2D)   (None, 38, 38, 64)   16448       ['conv2_block1_out[0][0]']

 conv2_block2_1_bn (BatchNormal  (None, 38, 38, 64)  256         ['conv2_block2_1_conv[0][0]']
 ization)

 conv2_block2_1_relu (Activatio  (None, 38, 38, 64)  0           ['conv2_block2_1_bn[0][0]']
 n)

 conv2_block2_2_conv (Conv2D)   (None, 38, 38, 64)   36928       ['conv2_block2_1_relu[0][0]']

 conv2_block2_2_bn (BatchNormal  (None, 38, 38, 64)  256         ['conv2_block2_2_conv[0][0]']
 ization)

 conv2_block2_2_relu (Activatio  (None, 38, 38, 64)  0           ['conv2_block2_2_bn[0][0]']
 n)

 conv2_block2_3_conv (Conv2D)   (None, 38, 38, 256)  16640       ['conv2_block2_2_relu[0][0]']

 conv2_block2_3_bn (BatchNormal  (None, 38, 38, 256)  1024       ['conv2_block2_3_conv[0][0]']
 ization)

 conv2_block2_add (Add)         (None, 38, 38, 256)  0           ['conv2_block1_out[0][0]',
                                                                  'conv2_block2_3_bn[0][0]']

 conv2_block2_out (Activation)  (None, 38, 38, 256)  0           ['conv2_block2_add[0][0]']

 conv2_block3_1_conv (Conv2D)   (None, 38, 38, 64)   16448       ['conv2_block2_out[0][0]']

 conv2_block3_1_bn (BatchNormal  (None, 38, 38, 64)  256         ['conv2_block3_1_conv[0][0]']
 ization)

 conv2_block3_1_relu (Activatio  (None, 38, 38, 64)  0           ['conv2_block3_1_bn[0][0]']
 n)

 conv2_block3_2_conv (Conv2D)   (None, 38, 38, 64)   36928       ['conv2_block3_1_relu[0][0]']

 conv2_block3_2_bn (BatchNormal  (None, 38, 38, 64)  256         ['conv2_block3_2_conv[0][0]']
 ization)

 conv2_block3_2_relu (Activatio  (None, 38, 38, 64)  0           ['conv2_block3_2_bn[0][0]']
 n)

 conv2_block3_3_conv (Conv2D)   (None, 38, 38, 256)  16640       ['conv2_block3_2_relu[0][0]']

 conv2_block3_3_bn (BatchNormal  (None, 38, 38, 256)  1024       ['conv2_block3_3_conv[0][0]']
 ization)

 conv2_block3_add (Add)         (None, 38, 38, 256)  0           ['conv2_block2_out[0][0]',
                                                                  'conv2_block3_3_bn[0][0]']

 conv2_block3_out (Activation)  (None, 38, 38, 256)  0           ['conv2_block3_add[0][0]']

 conv3_block1_1_conv (Conv2D)   (None, 19, 19, 128)  32896       ['conv2_block3_out[0][0]']

 conv3_block1_1_bn (BatchNormal  (None, 19, 19, 128)  512        ['conv3_block1_1_conv[0][0]']
 ization)

 conv3_block1_1_relu (Activatio  (None, 19, 19, 128)  0          ['conv3_block1_1_bn[0][0]']
 n)

 conv3_block1_2_conv (Conv2D)   (None, 19, 19, 128)  147584      ['conv3_block1_1_relu[0][0]']

 conv3_block1_2_bn (BatchNormal  (None, 19, 19, 128)  512        ['conv3_block1_2_conv[0][0]']
 ization)

 conv3_block1_2_relu (Activatio  (None, 19, 19, 128)  0          ['conv3_block1_2_bn[0][0]']
 n)

 conv3_block1_0_conv (Conv2D)   (None, 19, 19, 512)  131584      ['conv2_block3_out[0][0]']

 conv3_block1_3_conv (Conv2D)   (None, 19, 19, 512)  66048       ['conv3_block1_2_relu[0][0]']

 conv3_block1_0_bn (BatchNormal  (None, 19, 19, 512)  2048       ['conv3_block1_0_conv[0][0]']
 ization)

 conv3_block1_3_bn (BatchNormal  (None, 19, 19, 512)  2048       ['conv3_block1_3_conv[0][0]']
 ization)

 conv3_block1_add (Add)         (None, 19, 19, 512)  0           ['conv3_block1_0_bn[0][0]',
                                                                  'conv3_block1_3_bn[0][0]']

 conv3_block1_out (Activation)  (None, 19, 19, 512)  0           ['conv3_block1_add[0][0]']

 conv3_block2_1_conv (Conv2D)   (None, 19, 19, 128)  65664       ['conv3_block1_out[0][0]']

 conv3_block2_1_bn (BatchNormal  (None, 19, 19, 128)  512        ['conv3_block2_1_conv[0][0]']
 ization)

 conv3_block2_1_relu (Activatio  (None, 19, 19, 128)  0          ['conv3_block2_1_bn[0][0]']
 n)

 conv3_block2_2_conv (Conv2D)   (None, 19, 19, 128)  147584      ['conv3_block2_1_relu[0][0]']

 conv3_block2_2_bn (BatchNormal  (None, 19, 19, 128)  512        ['conv3_block2_2_conv[0][0]']
 ization)

 conv3_block2_2_relu (Activatio  (None, 19, 19, 128)  0          ['conv3_block2_2_bn[0][0]']
 n)

 conv3_block2_3_conv (Conv2D)   (None, 19, 19, 512)  66048       ['conv3_block2_2_relu[0][0]']

 conv3_block2_3_bn (BatchNormal  (None, 19, 19, 512)  2048       ['conv3_block2_3_conv[0][0]']
 ization)

 conv3_block2_add (Add)         (None, 19, 19, 512)  0           ['conv3_block1_out[0][0]',
                                                                  'conv3_block2_3_bn[0][0]']

 conv3_block2_out (Activation)  (None, 19, 19, 512)  0           ['conv3_block2_add[0][0]']

 conv3_block3_1_conv (Conv2D)   (None, 19, 19, 128)  65664       ['conv3_block2_out[0][0]']

 conv3_block3_1_bn (BatchNormal  (None, 19, 19, 128)  512        ['conv3_block3_1_conv[0][0]']
 ization)

 conv3_block3_1_relu (Activatio  (None, 19, 19, 128)  0          ['conv3_block3_1_bn[0][0]']
 n)

 conv3_block3_2_conv (Conv2D)   (None, 19, 19, 128)  147584      ['conv3_block3_1_relu[0][0]']

 conv3_block3_2_bn (BatchNormal  (None, 19, 19, 128)  512        ['conv3_block3_2_conv[0][0]']
 ization)

 conv3_block3_2_relu (Activatio  (None, 19, 19, 128)  0          ['conv3_block3_2_bn[0][0]']
 n)

 conv3_block3_3_conv (Conv2D)   (None, 19, 19, 512)  66048       ['conv3_block3_2_relu[0][0]']

 conv3_block3_3_bn (BatchNormal  (None, 19, 19, 512)  2048       ['conv3_block3_3_conv[0][0]']
 ization)

 conv3_block3_add (Add)         (None, 19, 19, 512)  0           ['conv3_block2_out[0][0]',
                                                                  'conv3_block3_3_bn[0][0]']

 conv3_block3_out (Activation)  (None, 19, 19, 512)  0           ['conv3_block3_add[0][0]']

 conv3_block4_1_conv (Conv2D)   (None, 19, 19, 128)  65664       ['conv3_block3_out[0][0]']

 conv3_block4_1_bn (BatchNormal  (None, 19, 19, 128)  512        ['conv3_block4_1_conv[0][0]']
 ization)

 conv3_block4_1_relu (Activatio  (None, 19, 19, 128)  0          ['conv3_block4_1_bn[0][0]']
 n)

 conv3_block4_2_conv (Conv2D)   (None, 19, 19, 128)  147584      ['conv3_block4_1_relu[0][0]']

 conv3_block4_2_bn (BatchNormal  (None, 19, 19, 128)  512        ['conv3_block4_2_conv[0][0]']
 ization)

 conv3_block4_2_relu (Activatio  (None, 19, 19, 128)  0          ['conv3_block4_2_bn[0][0]']
 n)

 conv3_block4_3_conv (Conv2D)   (None, 19, 19, 512)  66048       ['conv3_block4_2_relu[0][0]']

 conv3_block4_3_bn (BatchNormal  (None, 19, 19, 512)  2048       ['conv3_block4_3_conv[0][0]']
 ization)

 conv3_block4_add (Add)         (None, 19, 19, 512)  0           ['conv3_block3_out[0][0]',
                                                                  'conv3_block4_3_bn[0][0]']

 conv3_block4_out (Activation)  (None, 19, 19, 512)  0           ['conv3_block4_add[0][0]']

 conv4_block1_1_conv (Conv2D)   (None, 10, 10, 256)  131328      ['conv3_block4_out[0][0]']

 conv4_block1_1_bn (BatchNormal  (None, 10, 10, 256)  1024       ['conv4_block1_1_conv[0][0]']
 ization)

 conv4_block1_1_relu (Activatio  (None, 10, 10, 256)  0          ['conv4_block1_1_bn[0][0]']
 n)

 conv4_block1_2_conv (Conv2D)   (None, 10, 10, 256)  590080      ['conv4_block1_1_relu[0][0]']

 conv4_block1_2_bn (BatchNormal  (None, 10, 10, 256)  1024       ['conv4_block1_2_conv[0][0]']
 ization)

 conv4_block1_2_relu (Activatio  (None, 10, 10, 256)  0          ['conv4_block1_2_bn[0][0]']
 n)

 conv4_block1_0_conv (Conv2D)   (None, 10, 10, 1024  525312      ['conv3_block4_out[0][0]']
                                )

 conv4_block1_3_conv (Conv2D)   (None, 10, 10, 1024  263168      ['conv4_block1_2_relu[0][0]']
                                )

 conv4_block1_0_bn (BatchNormal  (None, 10, 10, 1024  4096       ['conv4_block1_0_conv[0][0]']
 ization)                       )

 conv4_block1_3_bn (BatchNormal  (None, 10, 10, 1024  4096       ['conv4_block1_3_conv[0][0]']
 ization)                       )

 conv4_block1_add (Add)         (None, 10, 10, 1024  0           ['conv4_block1_0_bn[0][0]',
                                )                                 'conv4_block1_3_bn[0][0]']

 conv4_block1_out (Activation)  (None, 10, 10, 1024  0           ['conv4_block1_add[0][0]']
                                )

 conv4_block2_1_conv (Conv2D)   (None, 10, 10, 256)  262400      ['conv4_block1_out[0][0]']

 conv4_block2_1_bn (BatchNormal  (None, 10, 10, 256)  1024       ['conv4_block2_1_conv[0][0]']
 ization)

 conv4_block2_1_relu (Activatio  (None, 10, 10, 256)  0          ['conv4_block2_1_bn[0][0]']
 n)

 conv4_block2_2_conv (Conv2D)   (None, 10, 10, 256)  590080      ['conv4_block2_1_relu[0][0]']

 conv4_block2_2_bn (BatchNormal  (None, 10, 10, 256)  1024       ['conv4_block2_2_conv[0][0]']
 ization)

 conv4_block2_2_relu (Activatio  (None, 10, 10, 256)  0          ['conv4_block2_2_bn[0][0]']
 n)

 conv4_block2_3_conv (Conv2D)   (None, 10, 10, 1024  263168      ['conv4_block2_2_relu[0][0]']
                                )

 conv4_block2_3_bn (BatchNormal  (None, 10, 10, 1024  4096       ['conv4_block2_3_conv[0][0]']
 ization)                       )

 conv4_block2_add (Add)         (None, 10, 10, 1024  0           ['conv4_block1_out[0][0]',
                                )                                 'conv4_block2_3_bn[0][0]']

 conv4_block2_out (Activation)  (None, 10, 10, 1024  0           ['conv4_block2_add[0][0]']
                                )

 conv4_block3_1_conv (Conv2D)   (None, 10, 10, 256)  262400      ['conv4_block2_out[0][0]']

 conv4_block3_1_bn (BatchNormal  (None, 10, 10, 256)  1024       ['conv4_block3_1_conv[0][0]']
 ization)

 conv4_block3_1_relu (Activatio  (None, 10, 10, 256)  0          ['conv4_block3_1_bn[0][0]']
 n)

 conv4_block3_2_conv (Conv2D)   (None, 10, 10, 256)  590080      ['conv4_block3_1_relu[0][0]']

 conv4_block3_2_bn (BatchNormal  (None, 10, 10, 256)  1024       ['conv4_block3_2_conv[0][0]']
 ization)

 conv4_block3_2_relu (Activatio  (None, 10, 10, 256)  0          ['conv4_block3_2_bn[0][0]']
 n)

 conv4_block3_3_conv (Conv2D)   (None, 10, 10, 1024  263168      ['conv4_block3_2_relu[0][0]']
                                )

 conv4_block3_3_bn (BatchNormal  (None, 10, 10, 1024  4096       ['conv4_block3_3_conv[0][0]']
 ization)                       )

 conv4_block3_add (Add)         (None, 10, 10, 1024  0           ['conv4_block2_out[0][0]',
                                )                                 'conv4_block3_3_bn[0][0]']

 conv4_block3_out (Activation)  (None, 10, 10, 1024  0           ['conv4_block3_add[0][0]']
                                )

 conv4_block4_1_conv (Conv2D)   (None, 10, 10, 256)  262400      ['conv4_block3_out[0][0]']

 conv4_block4_1_bn (BatchNormal  (None, 10, 10, 256)  1024       ['conv4_block4_1_conv[0][0]']
 ization)

 conv4_block4_1_relu (Activatio  (None, 10, 10, 256)  0          ['conv4_block4_1_bn[0][0]']
 n)

 conv4_block4_2_conv (Conv2D)   (None, 10, 10, 256)  590080      ['conv4_block4_1_relu[0][0]']

 conv4_block4_2_bn (BatchNormal  (None, 10, 10, 256)  1024       ['conv4_block4_2_conv[0][0]']
 ization)

 conv4_block4_2_relu (Activatio  (None, 10, 10, 256)  0          ['conv4_block4_2_bn[0][0]']
 n)

 conv4_block4_3_conv (Conv2D)   (None, 10, 10, 1024  263168      ['conv4_block4_2_relu[0][0]']
                                )

 conv4_block4_3_bn (BatchNormal  (None, 10, 10, 1024  4096       ['conv4_block4_3_conv[0][0]']
 ization)                       )

 conv4_block4_add (Add)         (None, 10, 10, 1024  0           ['conv4_block3_out[0][0]',
                                )                                 'conv4_block4_3_bn[0][0]']

 conv4_block4_out (Activation)  (None, 10, 10, 1024  0           ['conv4_block4_add[0][0]']
                                )

 conv4_block5_1_conv (Conv2D)   (None, 10, 10, 256)  262400      ['conv4_block4_out[0][0]']

 conv4_block5_1_bn (BatchNormal  (None, 10, 10, 256)  1024       ['conv4_block5_1_conv[0][0]']
 ization)

 conv4_block5_1_relu (Activatio  (None, 10, 10, 256)  0          ['conv4_block5_1_bn[0][0]']
 n)

 conv4_block5_2_conv (Conv2D)   (None, 10, 10, 256)  590080      ['conv4_block5_1_relu[0][0]']

 conv4_block5_2_bn (BatchNormal  (None, 10, 10, 256)  1024       ['conv4_block5_2_conv[0][0]']
 ization)

 conv4_block5_2_relu (Activatio  (None, 10, 10, 256)  0          ['conv4_block5_2_bn[0][0]']
 n)

 conv4_block5_3_conv (Conv2D)   (None, 10, 10, 1024  263168      ['conv4_block5_2_relu[0][0]']
                                )

 conv4_block5_3_bn (BatchNormal  (None, 10, 10, 1024  4096       ['conv4_block5_3_conv[0][0]']
 ization)                       )

 conv4_block5_add (Add)         (None, 10, 10, 1024  0           ['conv4_block4_out[0][0]',
                                )                                 'conv4_block5_3_bn[0][0]']

 conv4_block5_out (Activation)  (None, 10, 10, 1024  0           ['conv4_block5_add[0][0]']
                                )

 conv4_block6_1_conv (Conv2D)   (None, 10, 10, 256)  262400      ['conv4_block5_out[0][0]']

 conv4_block6_1_bn (BatchNormal  (None, 10, 10, 256)  1024       ['conv4_block6_1_conv[0][0]']
 ization)

 conv4_block6_1_relu (Activatio  (None, 10, 10, 256)  0          ['conv4_block6_1_bn[0][0]']
 n)

 conv4_block6_2_conv (Conv2D)   (None, 10, 10, 256)  590080      ['conv4_block6_1_relu[0][0]']

 conv4_block6_2_bn (BatchNormal  (None, 10, 10, 256)  1024       ['conv4_block6_2_conv[0][0]']
 ization)

 conv4_block6_2_relu (Activatio  (None, 10, 10, 256)  0          ['conv4_block6_2_bn[0][0]']
 n)

 conv4_block6_3_conv (Conv2D)   (None, 10, 10, 1024  263168      ['conv4_block6_2_relu[0][0]']
                                )

 conv4_block6_3_bn (BatchNormal  (None, 10, 10, 1024  4096       ['conv4_block6_3_conv[0][0]']
 ization)                       )

 conv4_block6_add (Add)         (None, 10, 10, 1024  0           ['conv4_block5_out[0][0]',
                                )                                 'conv4_block6_3_bn[0][0]']

 conv4_block6_out (Activation)  (None, 10, 10, 1024  0           ['conv4_block6_add[0][0]']
                                )

 conv5_block1_1_conv (Conv2D)   (None, 5, 5, 512)    524800      ['conv4_block6_out[0][0]']

 conv5_block1_1_bn (BatchNormal  (None, 5, 5, 512)   2048        ['conv5_block1_1_conv[0][0]']
 ization)

 conv5_block1_1_relu (Activatio  (None, 5, 5, 512)   0           ['conv5_block1_1_bn[0][0]']
 n)

 conv5_block1_2_conv (Conv2D)   (None, 5, 5, 512)    2359808     ['conv5_block1_1_relu[0][0]']

 conv5_block1_2_bn (BatchNormal  (None, 5, 5, 512)   2048        ['conv5_block1_2_conv[0][0]']
 ization)

 conv5_block1_2_relu (Activatio  (None, 5, 5, 512)   0           ['conv5_block1_2_bn[0][0]']
 n)

 conv5_block1_0_conv (Conv2D)   (None, 5, 5, 2048)   2099200     ['conv4_block6_out[0][0]']

 conv5_block1_3_conv (Conv2D)   (None, 5, 5, 2048)   1050624     ['conv5_block1_2_relu[0][0]']

 conv5_block1_0_bn (BatchNormal  (None, 5, 5, 2048)  8192        ['conv5_block1_0_conv[0][0]']
 ization)

 conv5_block1_3_bn (BatchNormal  (None, 5, 5, 2048)  8192        ['conv5_block1_3_conv[0][0]']
 ization)

 conv5_block1_add (Add)         (None, 5, 5, 2048)   0           ['conv5_block1_0_bn[0][0]',
                                                                  'conv5_block1_3_bn[0][0]']

 conv5_block1_out (Activation)  (None, 5, 5, 2048)   0           ['conv5_block1_add[0][0]']

 conv5_block2_1_conv (Conv2D)   (None, 5, 5, 512)    1049088     ['conv5_block1_out[0][0]']

 conv5_block2_1_bn (BatchNormal  (None, 5, 5, 512)   2048        ['conv5_block2_1_conv[0][0]']
 ization)

 conv5_block2_1_relu (Activatio  (None, 5, 5, 512)   0           ['conv5_block2_1_bn[0][0]']
 n)

 conv5_block2_2_conv (Conv2D)   (None, 5, 5, 512)    2359808     ['conv5_block2_1_relu[0][0]']

 conv5_block2_2_bn (BatchNormal  (None, 5, 5, 512)   2048        ['conv5_block2_2_conv[0][0]']
 ization)

 conv5_block2_2_relu (Activatio  (None, 5, 5, 512)   0           ['conv5_block2_2_bn[0][0]']
 n)

 conv5_block2_3_conv (Conv2D)   (None, 5, 5, 2048)   1050624     ['conv5_block2_2_relu[0][0]']

 conv5_block2_3_bn (BatchNormal  (None, 5, 5, 2048)  8192        ['conv5_block2_3_conv[0][0]']
 ization)

 conv5_block2_add (Add)         (None, 5, 5, 2048)   0           ['conv5_block1_out[0][0]',
                                                                  'conv5_block2_3_bn[0][0]']

 conv5_block2_out (Activation)  (None, 5, 5, 2048)   0           ['conv5_block2_add[0][0]']

 conv5_block3_1_conv (Conv2D)   (None, 5, 5, 512)    1049088     ['conv5_block2_out[0][0]']

 conv5_block3_1_bn (BatchNormal  (None, 5, 5, 512)   2048        ['conv5_block3_1_conv[0][0]']
 ization)

 embedding_input (InputLayer)   [(None, 10)]         0           []

 conv5_block3_1_relu (Activatio  (None, 5, 5, 512)   0           ['conv5_block3_1_bn[0][0]']
 n)

 embedding (Embedding)          (None, 10, 32)       320000      ['embedding_input[0][0]']

 conv5_block3_2_conv (Conv2D)   (None, 5, 5, 512)    2359808     ['conv5_block3_1_relu[0][0]']

 flatten (Flatten)              (None, 320)          0           ['embedding[0][0]']

 conv5_block3_2_bn (BatchNormal  (None, 5, 5, 512)   2048        ['conv5_block3_2_conv[0][0]']
 ization)

 dense (Dense)                  (None, 16)           5136        ['flatten[0][0]']

 conv5_block3_2_relu (Activatio  (None, 5, 5, 512)   0           ['conv5_block3_2_bn[0][0]']
 n)

 dropout (Dropout)              (None, 16)           0           ['dense[0][0]']

 conv5_block3_3_conv (Conv2D)   (None, 5, 5, 2048)   1050624     ['conv5_block3_2_relu[0][0]']

 dense_1 (Dense)                (None, 8)            136         ['dropout[0][0]']

 conv5_block3_3_bn (BatchNormal  (None, 5, 5, 2048)  8192        ['conv5_block3_3_conv[0][0]']
 ization)

 dropout_1 (Dropout)            (None, 8)            0           ['dense_1[0][0]']

 conv5_block3_add (Add)         (None, 5, 5, 2048)   0           ['conv5_block2_out[0][0]',

In [10]:
import numpy as np
X_train1= np.load('/content/drive/MyDrive/xtrain1.npy',allow_pickle=True)
X_valid1 = np.load('/content/drive/MyDrive/xvalid1.npy',allow_pickle=True)
X_test1 = np.load('/content/drive/MyDrive/xtest1.npy',allow_pickle=True)
y_train1 = np.load('/content/drive/MyDrive/ytrain1.npy',allow_pickle=True)
y_valid1 = np.load('/content/drive/MyDrive/yvalid1.npy',allow_pickle=True)
y_test1 = np.load('/content/drive/MyDrive/ytest1 (1).npy',allow_pickle=True)

In [11]:
import pandas as pd
df1 = pd.read_csv("/content/drive/MyDrive/CRISIS_1/task_informative_text_img_train.csv", sep=',')
df1

,event_name,tweet_id,image_id,tweet_text,image,label,label_text,label_image,label_text_image
0,california_wildfires,9.177910e+17,917791291823591425_0,RT @Cal_OES: PLS SHARE: Weâ€™re capturing wild...,data_image/california_wildfires/10_10_2017/917...,informative,informative,informative,Positive
1,california_wildfires,9.177910e+17,917791291823591425_1,RT @Cal_OES: PLS SHARE: Weâ€™re capturing wild...,data_image/california_wildfires/10_10_2017/917...,not_informative,informative,not_informative,Negative
2,california_wildfires,9.177930e+17,917793137925459968_0,RT @KAKEnews: California wildfires destroy mor...,data_image/california_wildfires/10_10_2017/917...,informative,informative,informative,Positive
3,california_wildfires,9.177930e+17,917793137925459968_1,RT @KAKEnews: California wildfires destroy mor...,data_image/california_wildfires/10_10_2017/917...,informative,informative,informative,Positive
4,california_wildfires,9.177930e+17,917793137925459968_2,RT @KAKEnews: California wildfires destroy mor...,data_image/california_wildfires/10_10_2017/917...,informative,informative,informative,Positive
...,...,...,...,...,...,...,...,...,...
13603,hurricane_maria,9.123420e+17,912341945430798336_0,11am #Maria update: tropical storm force winds...,data_image/hurricane_maria/25_9_2017/912341945...,informative,informative,informative,Positive
13604,hurricane_irma,9.099370e+17,909936612196454403_0,RT @WhereTraveler: Hurricane Irma Survival Gui...,data_image/hurricane_irma/19_9_2017/9099366121...,informative,informative,not_informative,Negative
13605,hurricane_harvey,9.055820e+17,905581858485882881_0,Thinking of doing a #DNA test? Buy a @FamilyTr...,data_image/hurricane_harvey/7_9_2017/905581858...,not_informative,informative,not_informative,Negative
13606,hurricane_irma,9.098800e+17,909879746598723590_0,Now blaming Hurricane Irma on Ursula the Witch...,data_image/hurricane_irma/18_9_2017/9098797465...,informative,informative,not_informative,Negative
13607,mexico_earthquake,9.107010e+17,910700764808564736_0,"Earthquake in Mexico rocks PH Embassy, no Fili...",data_image/mexico_earthquake/21_9_2017/9107007...,informative,informative,informative,Positive

In [12]:
selected_columns=df1[['tweet_text','label_text']]
df3=selected_columns.copy()

In [13]:
df3

                                              tweet_text   label_text
0      RT @Cal_OES: PLS SHARE: Weâ€™re capturing wild...  informative
1      RT @Cal_OES: PLS SHARE: Weâ€™re capturing wild...  informative
2      RT @KAKEnews: California wildfires destroy mor...  informative
3      RT @KAKEnews: California wildfires destroy mor...  informative
4      RT @KAKEnews: California wildfires destroy mor...  informative
...                                                  ...          ...
13603  11am #Maria update: tropical storm force winds...  informative
13604  RT @WhereTraveler: Hurricane Irma Survival Gui...  informative
13605  Thinking of doing a #DNA test? Buy a @FamilyTr...  informative
13606  Now blaming Hurricane Irma on Ursula the Witch...  informative
13607  Earthquake in Mexico rocks PH Embassy, no Fili...  informative

[13608 rows x 2 columns]

In [14]:
code = []

for i in range(df3.shape[0]):
    if (df3.iloc[i]['label_text']=='informative'):
        code.append(1)
    elif (df3.iloc[i]['label_text']=='not_informative'):
        code.append(0)
    else:
        poke_type.append('NaN')
        code.append('NaN')
df3['code'] = code
new_df = df3

new_df.reset_index(drop=True, inplace=True)

In [15]:
new_df.drop('label_text',axis=1,inplace=True)

In [16]:
new_df

                                              tweet_text  code
0      RT @Cal_OES: PLS SHARE: Weâ€™re capturing wild...     1
1      RT @Cal_OES: PLS SHARE: Weâ€™re capturing wild...     1
2      RT @KAKEnews: California wildfires destroy mor...     1
3      RT @KAKEnews: California wildfires destroy mor...     1
4      RT @KAKEnews: California wildfires destroy mor...     1
...                                                  ...   ...
13603  11am #Maria update: tropical storm force winds...     1
13604  RT @WhereTraveler: Hurricane Irma Survival Gui...     1
13605  Thinking of doing a #DNA test? Buy a @FamilyTr...     1
13606  Now blaming Hurricane Irma on Ursula the Witch...     1
13607  Earthquake in Mexico rocks PH Embassy, no Fili...     1

[13608 rows x 2 columns]

In [ ]:
# from sklearn.model_selection import train_test_split
# train_df, test_df= train_test_split(new_df, test_size=0.2, random_state=25)

TEST

In [17]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [18]:
import pandas as pd
df5 = pd.read_csv("/content/drive/MyDrive/CRISIS_1/task_informative_text_img_test.csv", sep=',')
df5

,event_name,tweet_id,image_id,tweet_text,image,label,label_text,label_image,label_text_image
0,srilanka_floods,878185882431389696,878185882431389696_0,Cristofer CLEMENTE MORA now in 2nd at aguille ...,data_image/srilanka_floods/23_6_2017/878185882...,not_informative,not_informative,not_informative,Positive
1,hurricane_harvey,906258753707790336,906258753707790336_0,RT @THS_College: On our way to Warrior Restora...,data_image/hurricane_harvey/8_9_2017/906258753...,not_informative,informative,not_informative,Negative
2,hurricane_maria,910542719864397824,910542719864397824_0,Hurricane Maria batters Puerto Rico as a Cat 4...,data_image/hurricane_maria/20_9_2017/910542719...,informative,informative,informative,Positive
3,hurricane_harvey,906219963152785408,906219963152785408_0,ZZ Top Donating ‘La Grange’ Download Sales To ...,data_image/hurricane_harvey/8_9_2017/906219963...,informative,informative,not_informative,Negative
4,hurricane_maria,913009824195104768,913009824195104768_0,8am #Maria update: holding steady as a strong ...,data_image/hurricane_maria/27_9_2017/913009824...,informative,informative,informative,Positive
...,...,...,...,...,...,...,...,...,...
2232,hurricane_irma,910239663759282176,910239663759282176_0,We are joining with with other High Point lead...,data_image/hurricane_irma/19_9_2017/9102396637...,not_informative,informative,not_informative,Negative
2233,hurricane_irma,909468291558772737,909468291558772737_0,#MONEY #IRMA business McCain laments 'accident...,data_image/hurricane_irma/17_9_2017/9094682915...,informative,informative,informative,Positive
2234,hurricane_harvey,909442415924318209,909442415924318209_0,Oil &amp; gas operators increase number of eva...,data_image/hurricane_harvey/17_9_2017/90944241...,informative,informative,informative,Positive
2235,srilanka_floods,879731058744242177,879731058744242177_0,Beep beepbeep beep beeep! EncuÃ©ntranos en Dr....,data_image/srilanka_floods/27_6_2017/879731058...,not_informative,not_informative,not_informative,Positive
2236,hurricane_harvey,908804643064496128,908804643064496128_0,"HUMAN BOY, DO YOU LIKE STEVE HARVEY. https://t...",data_image/hurricane_harvey/15_9_2017/90880464...,not_informative,not_informative,not_informative,Positive

In [19]:
selected_columns=df5[['tweet_text','label_text']]
df5=selected_columns.copy()

In [20]:
df5

                                             tweet_text       label_text
0     Cristofer CLEMENTE MORA now in 2nd at aguille ...  not_informative
1     RT @THS_College: On our way to Warrior Restora...      informative
2     Hurricane Maria batters Puerto Rico as a Cat 4...      informative
3     ZZ Top Donating ‘La Grange’ Download Sales To ...      informative
4     8am #Maria update: holding steady as a strong ...      informative
...                                                 ...              ...
2232  We are joining with with other High Point lead...      informative
2233  #MONEY #IRMA business McCain laments 'accident...      informative
2234  Oil &amp; gas operators increase number of eva...      informative
2235  Beep beepbeep beep beeep! EncuÃ©ntranos en Dr....  not_informative
2236  HUMAN BOY, DO YOU LIKE STEVE HARVEY. https://t...  not_informative

[2237 rows x 2 columns]

In [21]:
code = []

for i in range(df5.shape[0]):
    if (df5.iloc[i]['label_text']=='informative'):
        code.append(1)
    elif (df5.iloc[i]['label_text']=='not_informative'):
        code.append(0)
    else:
        poke_type.append('NaN')
        code.append('NaN')
df5['code'] = code
new_df1 = df5

new_df1.reset_index(drop=True, inplace=True)

In [22]:
new_df1.drop('label_text',axis=1,inplace=True)

In [23]:
new_df1

                                             tweet_text  code
0     Cristofer CLEMENTE MORA now in 2nd at aguille ...     0
1     RT @THS_College: On our way to Warrior Restora...     1
2     Hurricane Maria batters Puerto Rico as a Cat 4...     1
3     ZZ Top Donating ‘La Grange’ Download Sales To ...     1
4     8am #Maria update: holding steady as a strong ...     1
...                                                 ...   ...
2232  We are joining with with other High Point lead...     1
2233  #MONEY #IRMA business McCain laments 'accident...     1
2234  Oil &amp; gas operators increase number of eva...     1
2235  Beep beepbeep beep beeep! EncuÃ©ntranos en Dr....     0
2236  HUMAN BOY, DO YOU LIKE STEVE HARVEY. https://t...     0

[2237 rows x 2 columns]

VALID

In [24]:
import pandas as pd
df6 = pd.read_csv("/content/drive/MyDrive/CRISIS_1/task_informative_text_img_dev.csv", sep=',')
df6

,event_name,tweet_id,image_id,tweet_text,image,label,label_text,label_image,label_text_image
0,iraq_iran_earthquake,931465546129989632,931465546129989632_0,#Iran #earthquake damage put at over 5bn pound...,data_image/iraq_iran_earthquake/17_11_2017/931...,not_informative,informative,not_informative,Negative
1,hurricane_harvey,905064623199719425,905064623199719425_0,We've lost track of how many houses/families @...,data_image/hurricane_harvey/5_9_2017/905064623...,informative,informative,informative,Positive
2,hurricane_maria,922857566220283904,922857566220283904_0,The gym above subway got destroyed. The cement...,data_image/hurricane_maria/24_10_2017/92285756...,informative,informative,informative,Positive
3,hurricane_irma,909767231411769344,909767231411769344_0,Famous Captive Orca Fends For Herself In Flori...,data_image/hurricane_irma/18_9_2017/9097672314...,informative,informative,not_informative,Negative
4,california_wildfires,920571592131915777,920571592131915777_0,Californiaâ€™s Sausalito Fire In Marin Capture...,data_image/california_wildfires/18_10_2017/920...,informative,informative,informative,Positive
...,...,...,...,...,...,...,...,...,...
2232,hurricane_maria,921842963843551233,921842963843551233_0,Univision News Weekly Brief: A month after the...,data_image/hurricane_maria/21_10_2017/92184296...,informative,not_informative,informative,Negative
2233,mexico_earthquake,910658635851644928,910658635851644928_0,OzarksFirst (KOLR): Springfield Woman's Family...,data_image/mexico_earthquake/21_9_2017/9106586...,informative,informative,informative,Positive
2234,hurricane_harvey,906341151061499910,906341151061499910_0,Nana Tornado at Afia schwarâ€™s house celebrat...,data_image/hurricane_harvey/9_9_2017/906341151...,not_informative,not_informative,not_informative,Positive
2235,hurricane_maria,928822277067636737,928822277067636737_0,Here Are Some Weird Moments From President Tru...,data_image/hurricane_maria/10_11_2017/92882227...,not_informative,not_informative,not_informative,Positive
2236,hurricane_maria,913401831031820288,913401831031820288_0,NSF statement on impact of #HurricaneMaria on ...,data_image/hurricane_maria/28_9_2017/913401831...,not_informative,informative,not_informative,Negative

In [25]:
selected_columns=df6[['tweet_text','label_text']]
df6=selected_columns.copy()

In [26]:
df6

                                             tweet_text       label_text
0     #Iran #earthquake damage put at over 5bn pound...      informative
1     We've lost track of how many houses/families @...      informative
2     The gym above subway got destroyed. The cement...      informative
3     Famous Captive Orca Fends For Herself In Flori...      informative
4     Californiaâ€™s Sausalito Fire In Marin Capture...      informative
...                                                 ...              ...
2232  Univision News Weekly Brief: A month after the...  not_informative
2233  OzarksFirst (KOLR): Springfield Woman's Family...      informative
2234  Nana Tornado at Afia schwarâ€™s house celebrat...  not_informative
2235  Here Are Some Weird Moments From President Tru...  not_informative
2236  NSF statement on impact of #HurricaneMaria on ...      informative

[2237 rows x 2 columns]

In [27]:
code = []

for i in range(df6.shape[0]):
    if (df6.iloc[i]['label_text']=='informative'):
        code.append(1)
    elif (df6.iloc[i]['label_text']=='not_informative'):
        code.append(0)
    else:
        poke_type.append('NaN')
        code.append('NaN')
df6['code'] = code
new_df2 = df6

new_df2.reset_index(drop=True, inplace=True)

In [28]:
new_df2.drop('label_text',axis=1,inplace=True)

In [29]:
new_df2

                                             tweet_text  code
0     #Iran #earthquake damage put at over 5bn pound...     1
1     We've lost track of how many houses/families @...     1
2     The gym above subway got destroyed. The cement...     1
3     Famous Captive Orca Fends For Herself In Flori...     1
4     Californiaâ€™s Sausalito Fire In Marin Capture...     1
...                                                 ...   ...
2232  Univision News Weekly Brief: A month after the...     0
2233  OzarksFirst (KOLR): Springfield Woman's Family...     1
2234  Nana Tornado at Afia schwarâ€™s house celebrat...     0
2235  Here Are Some Weird Moments From President Tru...     0
2236  NSF statement on impact of #HurricaneMaria on ...     1

[2237 rows x 2 columns]

In [30]:
train_df=new_df

In [31]:
test_df=new_df1

In [32]:
valid_df=new_df2

In [33]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [34]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [35]:
import re
import nltk 
from nltk.tokenize import word_tokenize 
from nltk.stem import SnowballStemmer
import numpy as np
from nltk.corpus import stopwords
stop_words=set(stopwords.words("english"))
print(stopwords.words("english"))
stop_wrds=np.array(stop_words)
# stemmer=SnowballStemmer()
stemmer = nltk.stem.SnowballStemmer('english')
def clean_text(each_text):

    # remove URL from text
    each_text_no_url = re.sub(r"http\S+", "", each_text)
    
    # remove numbers from text
    text_no_num = re.sub(r'\d+', '', each_text_no_url)

    # tokenize each text
    word_tokens = word_tokenize(text_no_num)
    
    # remove sptial character
    clean_text = []
    for word in word_tokens:
        clean_text.append("".join([e for e in word if e.isalnum()]))

    # remove stop words and lower
    text_with_no_stop_word = [w.lower() for w in clean_text if not w in stop_words]  

    # do stemming
    stemmed_text = [stemmer.stem(w) for w in text_with_no_stop_word]
    
    return " ".join(" ".join(stemmed_text).split())


train_df['tweet_text'] = train_df['tweet_text'].apply(lambda x: clean_text(x) )

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [36]:
train_df

                                              tweet_text  code
0      rt calo pls share weâr captur wildfir respons ...     1
1      rt calo pls share weâr captur wildfir respons ...     1
2      rt kakenew california wildfir destroy structur...     1
3      rt kakenew california wildfir destroy structur...     1
4      rt kakenew california wildfir destroy structur...     1
...                                                  ...   ...
13603  maria updat tropic storm forc wind extend mile...     1
13604  rt wheretravel hurrican irma surviv guid what ...     1
13605  think dna test buy familytreedna test help har...     1
13606               now blame hurrican irma ursula witch     1
13607  earthquak mexico rock ph embassi filipino casu...     1

[13608 rows x 2 columns]

In [37]:
test_df

                                             tweet_text  code
0     Cristofer CLEMENTE MORA now in 2nd at aguille ...     0
1     RT @THS_College: On our way to Warrior Restora...     1
2     Hurricane Maria batters Puerto Rico as a Cat 4...     1
3     ZZ Top Donating ‘La Grange’ Download Sales To ...     1
4     8am #Maria update: holding steady as a strong ...     1
...                                                 ...   ...
2232  We are joining with with other High Point lead...     1
2233  #MONEY #IRMA business McCain laments 'accident...     1
2234  Oil &amp; gas operators increase number of eva...     1
2235  Beep beepbeep beep beeep! EncuÃ©ntranos en Dr....     0
2236  HUMAN BOY, DO YOU LIKE STEVE HARVEY. https://t...     0

[2237 rows x 2 columns]

In [38]:
X_train = train_df['tweet_text']
y_train = train_df['code']
X_test = test_df['tweet_text']
y_test = test_df['code']
X_valid = valid_df['tweet_text']
y_valid = valid_df['code']
#train_df.drop('label_text',axis = 1,inplace=True)

In [39]:
X_train

0        rt calo pls share weâr captur wildfir respons ...
1        rt calo pls share weâr captur wildfir respons ...
2        rt kakenew california wildfir destroy structur...
3        rt kakenew california wildfir destroy structur...
4        rt kakenew california wildfir destroy structur...
                               ...
13603    maria updat tropic storm forc wind extend mile...
13604    rt wheretravel hurrican irma surviv guid what ...
13605    think dna test buy familytreedna test help har...
13606                 now blame hurrican irma ursula witch
13607    earthquak mexico rock ph embassi filipino casu...
Name: tweet_text, Length: 13608, dtype: object

In [40]:
max_len = 10
max_words = 10000

In [41]:
from keras_preprocessing.text import Tokenizer
tokenizer = Tokenizer(num_words=max_words)

In [42]:
tokenizer.fit_on_texts(X_train)
word_index = tokenizer.word_index
len(word_index)

16302

In [43]:
from keras_preprocessing.sequence import pad_sequences
from keras.models import Sequential
from keras.layers import Dense, Dropout, LSTM, GRU, SimpleRNN, Embedding, Flatten
sequences = tokenizer.texts_to_sequences(X_train)
X_train = pad_sequences(sequences, maxlen=max_len)
X_train.shape

(13608, 10)

In [44]:
tokenizer.fit_on_texts(X_test)
word_index = tokenizer.word_index
len(word_index)

24976

In [45]:
from keras_preprocessing.sequence import pad_sequences
from keras.models import Sequential
from keras.layers import Dense, Dropout, LSTM, GRU, SimpleRNN, Embedding, Flatten
sequences = tokenizer.texts_to_sequences(X_test)
X_test = pad_sequences(sequences, maxlen=max_len)
X_test.shape

(2237, 10)

In [46]:
tokenizer.fit_on_texts(X_valid)
word_index = tokenizer.word_index
len(word_index)

32080

In [47]:
from keras_preprocessing.sequence import pad_sequences
from keras.models import Sequential
from keras.layers import Dense, Dropout, LSTM, GRU, SimpleRNN, Embedding, Flatten
sequences = tokenizer.texts_to_sequences(X_valid)
X_valid = pad_sequences(sequences, maxlen=max_len)
X_valid.shape

(2237, 10)

In [48]:
y_train = np.array(y_train).reshape((-1,1))
y_train.shape

(13608, 1)

In [49]:
y_valid = np.array(y_valid).reshape((-1,1))
y_valid.shape

(2237, 1)

In [50]:
y_test = np.array(y_test).reshape((-1,1))
y_test.shape

(2237, 1)

In [ ]:
# history2=model2.fit([X_train,X_train1], y_train,epochs=1,validation_data=([X_valid,X_valid1], y_valid1) )

In [51]:
history2=model2.fit([X_train,X_train1], y_train,epochs=2 )

Epoch 1/2
426/426 [==============================] - 4718s 11s/step - loss: 0.5596 - accuracy: 0.7193
Epoch 2/2
426/426 [==============================] - 4700s 11s/step - loss: 0.4564 - accuracy: 0.8161

In [52]:
results1 = model2.evaluate([X_test,X_test1], y_test, batch_size=128)

18/18 [==============================] - 164s 9s/step - loss: 0.6499 - accuracy: 0.7143

In [53]:
print(results1[1]*100)

71.43495678901672