In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# TEXT_Baseline

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

TRAIN

In [ ]:
import pandas as pd
df1 = pd.read_csv("/content/drive/MyDrive/CRISIS_1/task_informative_text_img_train.csv", sep=',')
df1

,event_name,tweet_id,image_id,tweet_text,image,label,label_text,label_image,label_text_image
0,california_wildfires,9.177910e+17,917791291823591425_0,RT @Cal_OES: PLS SHARE: Weâ€™re capturing wild...,data_image/california_wildfires/10_10_2017/917...,informative,informative,informative,Positive
1,california_wildfires,9.177910e+17,917791291823591425_1,RT @Cal_OES: PLS SHARE: Weâ€™re capturing wild...,data_image/california_wildfires/10_10_2017/917...,not_informative,informative,not_informative,Negative
2,california_wildfires,9.177930e+17,917793137925459968_0,RT @KAKEnews: California wildfires destroy mor...,data_image/california_wildfires/10_10_2017/917...,informative,informative,informative,Positive
3,california_wildfires,9.177930e+17,917793137925459968_1,RT @KAKEnews: California wildfires destroy mor...,data_image/california_wildfires/10_10_2017/917...,informative,informative,informative,Positive
4,california_wildfires,9.177930e+17,917793137925459968_2,RT @KAKEnews: California wildfires destroy mor...,data_image/california_wildfires/10_10_2017/917...,informative,informative,informative,Positive
...,...,...,...,...,...,...,...,...,...
13603,hurricane_maria,9.123420e+17,912341945430798336_0,11am #Maria update: tropical storm force winds...,data_image/hurricane_maria/25_9_2017/912341945...,informative,informative,informative,Positive
13604,hurricane_irma,9.099370e+17,909936612196454403_0,RT @WhereTraveler: Hurricane Irma Survival Gui...,data_image/hurricane_irma/19_9_2017/9099366121...,informative,informative,not_informative,Negative
13605,hurricane_harvey,9.055820e+17,905581858485882881_0,Thinking of doing a #DNA test? Buy a @FamilyTr...,data_image/hurricane_harvey/7_9_2017/905581858...,not_informative,informative,not_informative,Negative
13606,hurricane_irma,9.098800e+17,909879746598723590_0,Now blaming Hurricane Irma on Ursula the Witch...,data_image/hurricane_irma/18_9_2017/9098797465...,informative,informative,not_informative,Negative
13607,mexico_earthquake,9.107010e+17,910700764808564736_0,"Earthquake in Mexico rocks PH Embassy, no Fili...",data_image/mexico_earthquake/21_9_2017/9107007...,informative,informative,informative,Positive

In [ ]:
selected_columns=df1[['tweet_text','label_text']]
df3=selected_columns.copy()

In [ ]:
df3

                                              tweet_text   label_text
0      RT @Cal_OES: PLS SHARE: Weâ€™re capturing wild...  informative
1      RT @Cal_OES: PLS SHARE: Weâ€™re capturing wild...  informative
2      RT @KAKEnews: California wildfires destroy mor...  informative
3      RT @KAKEnews: California wildfires destroy mor...  informative
4      RT @KAKEnews: California wildfires destroy mor...  informative
...                                                  ...          ...
13603  11am #Maria update: tropical storm force winds...  informative
13604  RT @WhereTraveler: Hurricane Irma Survival Gui...  informative
13605  Thinking of doing a #DNA test? Buy a @FamilyTr...  informative
13606  Now blaming Hurricane Irma on Ursula the Witch...  informative
13607  Earthquake in Mexico rocks PH Embassy, no Fili...  informative

[13608 rows x 2 columns]

In [ ]:
code = []

for i in range(df3.shape[0]):
    if (df3.iloc[i]['label_text']=='informative'):
        code.append(1)
    elif (df3.iloc[i]['label_text']=='not_informative'):
        code.append(0)
    else:
        poke_type.append('NaN')
        code.append('NaN')
df3['code'] = code
new_df = df3

new_df.reset_index(drop=True, inplace=True)

In [ ]:
new_df.drop('label_text',axis=1,inplace=True)

In [ ]:
new_df

                                              tweet_text  code
0      RT @Cal_OES: PLS SHARE: Weâ€™re capturing wild...     1
1      RT @Cal_OES: PLS SHARE: Weâ€™re capturing wild...     1
2      RT @KAKEnews: California wildfires destroy mor...     1
3      RT @KAKEnews: California wildfires destroy mor...     1
4      RT @KAKEnews: California wildfires destroy mor...     1
...                                                  ...   ...
13603  11am #Maria update: tropical storm force winds...     1
13604  RT @WhereTraveler: Hurricane Irma Survival Gui...     1
13605  Thinking of doing a #DNA test? Buy a @FamilyTr...     1
13606  Now blaming Hurricane Irma on Ursula the Witch...     1
13607  Earthquake in Mexico rocks PH Embassy, no Fili...     1

[13608 rows x 2 columns]

In [ ]:
# from sklearn.model_selection import train_test_split
# train_df, test_df= train_test_split(new_df, test_size=0.2, random_state=25)

TEST

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
df5 = pd.read_csv("/content/drive/MyDrive/CRISIS_1/task_informative_text_img_test.csv", sep=',')
df5

,event_name,tweet_id,image_id,tweet_text,image,label,label_text,label_image,label_text_image
0,srilanka_floods,878185882431389696,878185882431389696_0,Cristofer CLEMENTE MORA now in 2nd at aguille ...,data_image/srilanka_floods/23_6_2017/878185882...,not_informative,not_informative,not_informative,Positive
1,hurricane_harvey,906258753707790336,906258753707790336_0,RT @THS_College: On our way to Warrior Restora...,data_image/hurricane_harvey/8_9_2017/906258753...,not_informative,informative,not_informative,Negative
2,hurricane_maria,910542719864397824,910542719864397824_0,Hurricane Maria batters Puerto Rico as a Cat 4...,data_image/hurricane_maria/20_9_2017/910542719...,informative,informative,informative,Positive
3,hurricane_harvey,906219963152785408,906219963152785408_0,ZZ Top Donating ‘La Grange’ Download Sales To ...,data_image/hurricane_harvey/8_9_2017/906219963...,informative,informative,not_informative,Negative
4,hurricane_maria,913009824195104768,913009824195104768_0,8am #Maria update: holding steady as a strong ...,data_image/hurricane_maria/27_9_2017/913009824...,informative,informative,informative,Positive
...,...,...,...,...,...,...,...,...,...
2232,hurricane_irma,910239663759282176,910239663759282176_0,We are joining with with other High Point lead...,data_image/hurricane_irma/19_9_2017/9102396637...,not_informative,informative,not_informative,Negative
2233,hurricane_irma,909468291558772737,909468291558772737_0,#MONEY #IRMA business McCain laments 'accident...,data_image/hurricane_irma/17_9_2017/9094682915...,informative,informative,informative,Positive
2234,hurricane_harvey,909442415924318209,909442415924318209_0,Oil &amp; gas operators increase number of eva...,data_image/hurricane_harvey/17_9_2017/90944241...,informative,informative,informative,Positive
2235,srilanka_floods,879731058744242177,879731058744242177_0,Beep beepbeep beep beeep! EncuÃ©ntranos en Dr....,data_image/srilanka_floods/27_6_2017/879731058...,not_informative,not_informative,not_informative,Positive
2236,hurricane_harvey,908804643064496128,908804643064496128_0,"HUMAN BOY, DO YOU LIKE STEVE HARVEY. https://t...",data_image/hurricane_harvey/15_9_2017/90880464...,not_informative,not_informative,not_informative,Positive

In [ ]:
selected_columns=df5[['tweet_text','label_text']]
df5=selected_columns.copy()

In [ ]:
df5

                                             tweet_text       label_text
0     Cristofer CLEMENTE MORA now in 2nd at aguille ...  not_informative
1     RT @THS_College: On our way to Warrior Restora...      informative
2     Hurricane Maria batters Puerto Rico as a Cat 4...      informative
3     ZZ Top Donating ‘La Grange’ Download Sales To ...      informative
4     8am #Maria update: holding steady as a strong ...      informative
...                                                 ...              ...
2232  We are joining with with other High Point lead...      informative
2233  #MONEY #IRMA business McCain laments 'accident...      informative
2234  Oil &amp; gas operators increase number of eva...      informative
2235  Beep beepbeep beep beeep! EncuÃ©ntranos en Dr....  not_informative
2236  HUMAN BOY, DO YOU LIKE STEVE HARVEY. https://t...  not_informative

[2237 rows x 2 columns]

In [ ]:
code = []

for i in range(df5.shape[0]):
    if (df5.iloc[i]['label_text']=='informative'):
        code.append(1)
    elif (df5.iloc[i]['label_text']=='not_informative'):
        code.append(0)
    else:
        poke_type.append('NaN')
        code.append('NaN')
df5['code'] = code
new_df1 = df5

new_df1.reset_index(drop=True, inplace=True)

In [ ]:
new_df1.drop('label_text',axis=1,inplace=True)

In [ ]:
new_df1

                                             tweet_text  code
0     Cristofer CLEMENTE MORA now in 2nd at aguille ...     0
1     RT @THS_College: On our way to Warrior Restora...     1
2     Hurricane Maria batters Puerto Rico as a Cat 4...     1
3     ZZ Top Donating ‘La Grange’ Download Sales To ...     1
4     8am #Maria update: holding steady as a strong ...     1
...                                                 ...   ...
2232  We are joining with with other High Point lead...     1
2233  #MONEY #IRMA business McCain laments 'accident...     1
2234  Oil &amp; gas operators increase number of eva...     1
2235  Beep beepbeep beep beeep! EncuÃ©ntranos en Dr....     0
2236  HUMAN BOY, DO YOU LIKE STEVE HARVEY. https://t...     0

[2237 rows x 2 columns]

VALID

In [ ]:
import pandas as pd
df6 = pd.read_csv("/content/drive/MyDrive/CRISIS_1/task_informative_text_img_dev.csv", sep=',')
df6

,event_name,tweet_id,image_id,tweet_text,image,label,label_text,label_image,label_text_image
0,iraq_iran_earthquake,931465546129989632,931465546129989632_0,#Iran #earthquake damage put at over 5bn pound...,data_image/iraq_iran_earthquake/17_11_2017/931...,not_informative,informative,not_informative,Negative
1,hurricane_harvey,905064623199719425,905064623199719425_0,We've lost track of how many houses/families @...,data_image/hurricane_harvey/5_9_2017/905064623...,informative,informative,informative,Positive
2,hurricane_maria,922857566220283904,922857566220283904_0,The gym above subway got destroyed. The cement...,data_image/hurricane_maria/24_10_2017/92285756...,informative,informative,informative,Positive
3,hurricane_irma,909767231411769344,909767231411769344_0,Famous Captive Orca Fends For Herself In Flori...,data_image/hurricane_irma/18_9_2017/9097672314...,informative,informative,not_informative,Negative
4,california_wildfires,920571592131915777,920571592131915777_0,Californiaâ€™s Sausalito Fire In Marin Capture...,data_image/california_wildfires/18_10_2017/920...,informative,informative,informative,Positive
...,...,...,...,...,...,...,...,...,...
2232,hurricane_maria,921842963843551233,921842963843551233_0,Univision News Weekly Brief: A month after the...,data_image/hurricane_maria/21_10_2017/92184296...,informative,not_informative,informative,Negative
2233,mexico_earthquake,910658635851644928,910658635851644928_0,OzarksFirst (KOLR): Springfield Woman's Family...,data_image/mexico_earthquake/21_9_2017/9106586...,informative,informative,informative,Positive
2234,hurricane_harvey,906341151061499910,906341151061499910_0,Nana Tornado at Afia schwarâ€™s house celebrat...,data_image/hurricane_harvey/9_9_2017/906341151...,not_informative,not_informative,not_informative,Positive
2235,hurricane_maria,928822277067636737,928822277067636737_0,Here Are Some Weird Moments From President Tru...,data_image/hurricane_maria/10_11_2017/92882227...,not_informative,not_informative,not_informative,Positive
2236,hurricane_maria,913401831031820288,913401831031820288_0,NSF statement on impact of #HurricaneMaria on ...,data_image/hurricane_maria/28_9_2017/913401831...,not_informative,informative,not_informative,Negative

In [ ]:
selected_columns=df6[['tweet_text','label_text']]
df6=selected_columns.copy()

In [ ]:
df6

                                             tweet_text       label_text
0     #Iran #earthquake damage put at over 5bn pound...      informative
1     We've lost track of how many houses/families @...      informative
2     The gym above subway got destroyed. The cement...      informative
3     Famous Captive Orca Fends For Herself In Flori...      informative
4     Californiaâ€™s Sausalito Fire In Marin Capture...      informative
...                                                 ...              ...
2232  Univision News Weekly Brief: A month after the...  not_informative
2233  OzarksFirst (KOLR): Springfield Woman's Family...      informative
2234  Nana Tornado at Afia schwarâ€™s house celebrat...  not_informative
2235  Here Are Some Weird Moments From President Tru...  not_informative
2236  NSF statement on impact of #HurricaneMaria on ...      informative

[2237 rows x 2 columns]

In [ ]:
code = []

for i in range(df6.shape[0]):
    if (df6.iloc[i]['label_text']=='informative'):
        code.append(1)
    elif (df6.iloc[i]['label_text']=='not_informative'):
        code.append(0)
    else:
        poke_type.append('NaN')
        code.append('NaN')
df6['code'] = code
new_df2 = df6

new_df2.reset_index(drop=True, inplace=True)

In [ ]:
new_df2.drop('label_text',axis=1,inplace=True)

In [ ]:
new_df2

                                             tweet_text  code
0     #Iran #earthquake damage put at over 5bn pound...     1
1     We've lost track of how many houses/families @...     1
2     The gym above subway got destroyed. The cement...     1
3     Famous Captive Orca Fends For Herself In Flori...     1
4     Californiaâ€™s Sausalito Fire In Marin Capture...     1
...                                                 ...   ...
2232  Univision News Weekly Brief: A month after the...     0
2233  OzarksFirst (KOLR): Springfield Woman's Family...     1
2234  Nana Tornado at Afia schwarâ€™s house celebrat...     0
2235  Here Are Some Weird Moments From President Tru...     0
2236  NSF statement on impact of #HurricaneMaria on ...     1

[2237 rows x 2 columns]

In [ ]:
train_df=new_df

In [ ]:
train_df

                                              tweet_text  code
0      RT @Cal_OES: PLS SHARE: Weâ€™re capturing wild...     1
1      RT @Cal_OES: PLS SHARE: Weâ€™re capturing wild...     1
2      RT @KAKEnews: California wildfires destroy mor...     1
3      RT @KAKEnews: California wildfires destroy mor...     1
4      RT @KAKEnews: California wildfires destroy mor...     1
...                                                  ...   ...
13603  11am #Maria update: tropical storm force winds...     1
13604  RT @WhereTraveler: Hurricane Irma Survival Gui...     1
13605  Thinking of doing a #DNA test? Buy a @FamilyTr...     1
13606  Now blaming Hurricane Irma on Ursula the Witch...     1
13607  Earthquake in Mexico rocks PH Embassy, no Fili...     1

[13608 rows x 2 columns]

In [ ]:
test_df=new_df1

In [ ]:
valid_df=new_df2

In [ ]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [ ]:
import re
import nltk 
from nltk.tokenize import word_tokenize 
from nltk.stem import SnowballStemmer
import numpy as np
from nltk.corpus import stopwords
stop_words=set(stopwords.words("english"))
print(stopwords.words("english"))
stop_wrds=np.array(stop_words)
# stemmer=SnowballStemmer()
stemmer = nltk.stem.SnowballStemmer('english')
def clean_text(each_text):

    # remove URL from text
    each_text_no_url = re.sub(r"http\S+", "", each_text)
    
    # remove numbers from text
    text_no_num = re.sub(r'\d+', '', each_text_no_url)

    # tokenize each text
    word_tokens = word_tokenize(text_no_num)
    
    # remove sptial character
    clean_text = []
    for word in word_tokens:
        clean_text.append("".join([e for e in word if e.isalnum()]))

    # remove stop words and lower
    text_with_no_stop_word = [w.lower() for w in clean_text if not w in stop_words]  

    # do stemming
    stemmed_text = [stemmer.stem(w) for w in text_with_no_stop_word]
    
    return " ".join(" ".join(stemmed_text).split())


train_df['tweet_text'] = train_df['tweet_text'].apply(lambda x: clean_text(x) )

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [ ]:
train_df

                                              tweet_text  code
0      rt calo pls share weâr captur wildfir respons ...     1
1      rt calo pls share weâr captur wildfir respons ...     1
2      rt kakenew california wildfir destroy structur...     1
3      rt kakenew california wildfir destroy structur...     1
4      rt kakenew california wildfir destroy structur...     1
...                                                  ...   ...
13603  maria updat tropic storm forc wind extend mile...     1
13604  rt wheretravel hurrican irma surviv guid what ...     1
13605  think dna test buy familytreedna test help har...     1
13606               now blame hurrican irma ursula witch     1
13607  earthquak mexico rock ph embassi filipino casu...     1

[13608 rows x 2 columns]

In [ ]:
test_df

                                             tweet_text  code
0     Cristofer CLEMENTE MORA now in 2nd at aguille ...     0
1     RT @THS_College: On our way to Warrior Restora...     1
2     Hurricane Maria batters Puerto Rico as a Cat 4...     1
3     ZZ Top Donating ‘La Grange’ Download Sales To ...     1
4     8am #Maria update: holding steady as a strong ...     1
...                                                 ...   ...
2232  We are joining with with other High Point lead...     1
2233  #MONEY #IRMA business McCain laments 'accident...     1
2234  Oil &amp; gas operators increase number of eva...     1
2235  Beep beepbeep beep beeep! EncuÃ©ntranos en Dr....     0
2236  HUMAN BOY, DO YOU LIKE STEVE HARVEY. https://t...     0

[2237 rows x 2 columns]

In [ ]:
X_train = train_df['tweet_text']
y_train = train_df['code']
X_test = test_df['tweet_text']
y_test = test_df['code']
X_valid = valid_df['tweet_text']
y_valid = valid_df['code']
#train_df.drop('label_text',axis = 1,inplace=True)

In [ ]:
max_len = 10
max_words = 10000

In [ ]:
from keras_preprocessing.text import Tokenizer
tokenizer = Tokenizer(num_words=max_words)

In [ ]:
tokenizer.fit_on_texts(X_train)
word_index = tokenizer.word_index
len(word_index)

16302

In [ ]:
from keras_preprocessing.sequence import pad_sequences
from keras.models import Sequential
from keras.layers import Dense, Dropout, LSTM, GRU, SimpleRNN, Embedding, Flatten
sequences = tokenizer.texts_to_sequences(X_train)
X_train = pad_sequences(sequences, maxlen=max_len)
X_train.shape

(13608, 10)

In [ ]:
tokenizer.fit_on_texts(X_test)
word_index = tokenizer.word_index
len(word_index)

24976

In [ ]:
from keras_preprocessing.sequence import pad_sequences
from keras.models import Sequential
from keras.layers import Dense, Dropout, LSTM, GRU, SimpleRNN, Embedding, Flatten
sequences = tokenizer.texts_to_sequences(X_test)
X_test = pad_sequences(sequences, maxlen=max_len)
X_test.shape

(2237, 10)

In [ ]:
tokenizer.fit_on_texts(X_valid)
word_index = tokenizer.word_index
len(word_index)

32080

In [ ]:
from keras_preprocessing.sequence import pad_sequences
from keras.models import Sequential
from keras.layers import Dense, Dropout, LSTM, GRU, SimpleRNN, Embedding, Flatten
sequences = tokenizer.texts_to_sequences(X_valid)
X_valid = pad_sequences(sequences, maxlen=max_len)
X_valid.shape

(2237, 10)

In [ ]:
# test_df.drop('code',axis = 1,inplace=True)
#test_df.drop('label_text',axis = 1,inplace=True)

In [ ]:
train_df

                                              tweet_text  code
0      rt calo pls share weâr captur wildfir respons ...     1
1      rt calo pls share weâr captur wildfir respons ...     1
2      rt kakenew california wildfir destroy structur...     1
3      rt kakenew california wildfir destroy structur...     1
4      rt kakenew california wildfir destroy structur...     1
...                                                  ...   ...
13603  maria updat tropic storm forc wind extend mile...     1
13604  rt wheretravel hurrican irma surviv guid what ...     1
13605  think dna test buy familytreedna test help har...     1
13606               now blame hurrican irma ursula witch     1
13607  earthquak mexico rock ph embassi filipino casu...     1

[13608 rows x 2 columns]

In [ ]:
test_data = tokenizer.texts_to_sequences(test_df['tweet_text'])
test_data = pad_sequences(test_data, maxlen=max_len)
test_data.shape

(2237, 10)

In [ ]:
y_train = np.array(y_train).reshape((-1,1))
y_train.shape

(13608, 1)

In [ ]:
y_valid = np.array(y_valid).reshape((-1,1))
y_valid.shape

(2237, 1)

In [ ]:
y_test = np.array(y_test).reshape((-1,1))
y_test.shape

(2237, 1)

In [ ]:
#X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, test_size=0.15)

In [ ]:
X_train.shape

(13608, 10)

In [ ]:
def train_model(model, batch_size=20, epochs=1):
    model.compile(optimizer='rmsprop', loss='sparse_categorical_crossentropy', metrics=['acc'])
    history=model.fit(X_train, y_train, epochs=epochs, batch_size=batch_size, validation_data=(X_valid, y_valid))
    print('-' * 100)
    print('Test data')
    model.evaluate(X_test, y_test)
    return history

In [ ]:
def visual_validation_and_accuracy(history):
    acc = history.history['acc']
    val_acc = history.history['val_acc']
    loss = history.history['loss']
    val_loss = history.history['val_loss']

    epochs_plot = np.arange(1, len(loss) + 1)
    plt.clf()

    plt.plot(epochs_plot, acc, 'r', label='Training acc')
    plt.plot(epochs_plot, val_acc, 'b', label='Validation acc')
    plt.plot(epochs_plot, loss, 'r:', label='Training loss')
    plt.plot(epochs_plot, val_loss, 'b:', label='Validation loss')
    plt.title('Validation and accuracy')
    plt.xlabel('Epochs')
    plt.legend()
    plt.show()

In [ ]:
from keras.layers import Dense, Input, GlobalMaxPooling1D
from keras.layers import Conv1D, MaxPooling1D, Embedding, Flatten
from keras.models import Model
from keras.models import Sequential
from keras.initializers import Constant
model = Sequential([
    Embedding(max_words, 32, input_length=max_len),
    Flatten(),
    Dense(16, activation='relu'),
    Dropout(0.5),
    Dense(8, activation='relu'),
    Dropout(0.5),
    Dense(8, activation='relu'),
    Dropout(0.5),
    Dense(2, activation='softmax')
])
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding (Embedding)       (None, 10, 32)            320000

 flatten (Flatten)           (None, 320)               0

 dense (Dense)               (None, 16)                5136

 dropout (Dropout)           (None, 16)                0

 dense_1 (Dense)             (None, 8)                 136

 dropout_1 (Dropout)         (None, 8)                 0

 dense_2 (Dense)             (None, 8)                 72

 dropout_2 (Dropout)         (None, 8)                 0

 dense_3 (Dense)             (None, 2)                 18

=================================================================
Total params: 325,362
Trainable params: 325,362
Non-trainable params: 0
_________________________________________________________________

In [ ]:
history = train_model(model)

681/681 [==============================] - 4s 4ms/step - loss: 0.6036 - acc: 0.7055 - val_loss: 0.7582 - val_acc: 0.7206
----------------------------------------------------------------------------------------------------
Test data
70/70 [==============================] - 0s 2ms/step - loss: 0.6761 - acc: 0.7206

In [ ]:
results = model.evaluate(X_test, y_test, batch_size=50)

45/45 [==============================] - 0s 2ms/step - loss: 0.6761 - acc: 0.7206

In [ ]:
import joblib
joblib.dump(model, 'text_basline_model_72.pkl')

INFO:tensorflow:Assets written to: ram://1efd9ec9-5ead-4156-8a7b-252b22575683/assets

['text_basline_model_72.pkl']

#IMAGE_BASELINE

In [1]:
#import libraries
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
from keras.layers import Flatten
from keras.constraints import maxnorm
from keras.models import Model
from tensorflow.keras.optimizers import SGD
from keras.layers.convolutional import Conv2D
from keras.layers import Dense, Conv2D ,Flatten,Dropout,MaxPool2D, BatchNormalization
from keras.utils import np_utils
import tensorflow as tf
from keras.preprocessing.image import ImageDataGenerator
from tensorflow.keras.preprocessing import image_dataset_from_directory  
from tensorflow.keras.preprocessing import image
from tensorflow.keras.applications.vgg19 import VGG19
from tensorflow.keras.applications import ResNet50
import keras as k
from PIL import Image
import matplotlib.pyplot as plt
import numpy as np 
import tensorflow as tf
import pandas as pd
import seaborn
from sklearn.metrics import confusion_matrix , classification_report

import os
import cv2
from PIL import Image
import tensorflow as tf
from keras import backend as K
from keras.models import load_model
from keras.preprocessing.image import img_to_array
from tensorflow.keras.optimizers import Adam, RMSprop
from tensorflow.keras.callbacks import ReduceLROnPlateau
from tensorflow.keras.preprocessing.image import ImageDataGenerator

In [2]:
IMG_SIZE  = 224
batch_size = 16

In [3]:
import pandas as pd
train = pd.read_csv('/content/drive/MyDrive/CRISIS_1/task_informative_text_img_train.csv')
train.head(2)

,event_name,tweet_id,image_id,tweet_text,image,label,label_text,label_image,label_text_image
0,california_wildfires,9.177910e+17,917791291823591425_0,RT @Cal_OES: PLS SHARE: Weâ€™re capturing wild...,data_image/california_wildfires/10_10_2017/917...,informative,informative,informative,Positive
1,california_wildfires,9.177910e+17,917791291823591425_1,RT @Cal_OES: PLS SHARE: Weâ€™re capturing wild...,data_image/california_wildfires/10_10_2017/917...,not_informative,informative,not_informative,Negative

In [ ]:
train.info()

In [4]:
total_train = 13608

In [5]:
test = pd.read_csv('/content/drive/MyDrive/CRISIS_1/task_informative_text_img_test.csv')
test.head(2)

,event_name,tweet_id,image_id,tweet_text,image,label,label_text,label_image,label_text_image
0,srilanka_floods,878185882431389696,878185882431389696_0,Cristofer CLEMENTE MORA now in 2nd at aguille ...,data_image/srilanka_floods/23_6_2017/878185882...,not_informative,not_informative,not_informative,Positive
1,hurricane_harvey,906258753707790336,906258753707790336_0,RT @THS_College: On our way to Warrior Restora...,data_image/hurricane_harvey/8_9_2017/906258753...,not_informative,informative,not_informative,Negative

In [6]:
valid = pd.read_csv('/content/drive/MyDrive/CRISIS_1/task_informative_text_img_dev.csv')
valid.head(2)

,event_name,tweet_id,image_id,tweet_text,image,label,label_text,label_image,label_text_image
0,iraq_iran_earthquake,931465546129989632,931465546129989632_0,#Iran #earthquake damage put at over 5bn pound...,data_image/iraq_iran_earthquake/17_11_2017/931...,not_informative,informative,not_informative,Negative
1,hurricane_harvey,905064623199719425,905064623199719425_0,We've lost track of how many houses/families @...,data_image/hurricane_harvey/5_9_2017/905064623...,informative,informative,informative,Positive

In [ ]:
valid.info()

In [7]:
total_validation = 2237

In [8]:
import numpy as np

In [9]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [10]:
X_train1 = np.load('/content/drive/MyDrive/xtrain1.npy',allow_pickle=True)
X_test1 = np.load('/content/drive/MyDrive/xtest1.npy',allow_pickle=True)
X_valid1 = np.load('/content/drive/MyDrive/xvalid1.npy',allow_pickle=True)
y_train1=np.load('/content/drive/MyDrive/ytrain1.npy',allow_pickle=True)
y_test1=np.load('/content/drive/MyDrive/ytest1 (1).npy',allow_pickle=True)
y_valid1=np.load('/content/drive/MyDrive/yvalid1.npy',allow_pickle=True)

In [11]:
image_gen_train = ImageDataGenerator(
    
    # rescale=1./255., 
    rotation_range=20, 
    width_shift_range=0.2, 
    height_shift_range=0.2, 
    # shear_range=.2, 
    # zoom_range=0.2,
    horizontal_flip=True, 
    # fill_mode='nearest',
    # validation_split=0.4
)

In [13]:
X_train1=np.array(X_train1)
X_valid1=np.array(X_valid1)
X_test1=np.array(X_test1)
y_train1=np.array(y_train1)
y_valid1=np.array(y_valid1)
y_test1=np.array(y_test1)

In [12]:
train_generator = image_gen_train.flow(
    X_train1,y_train1,batch_size=16, 
   
)
validation_generator= image_gen_train.flow(
    X_valid1,y_valid1,batch_size=16, 
   
)
test_generator= image_gen_train.flow(
    X_test1,y_test1,batch_size=16,shuffle=False 
   
)

In [14]:
res = ResNet50(weights = None, classes = 2,input_tensor=k.Input(shape=(150,150,3)))

In [15]:
res.compile(optimizer='adam', loss='sparse_categorical_crossentropy', metrics=['accuracy'])
res.summary()

Model: "resnet50"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 input_1 (InputLayer)           [(None, 150, 150, 3  0           []
                                )]

 conv1_pad (ZeroPadding2D)      (None, 156, 156, 3)  0           ['input_1[0][0]']

 conv1_conv (Conv2D)            (None, 75, 75, 64)   9472        ['conv1_pad[0][0]']

 conv1_bn (BatchNormalization)  (None, 75, 75, 64)   256         ['conv1_conv[0][0]']

 conv1_relu (Activation)        (None, 75, 75, 64)   0           ['conv1_bn[0][0]']

 pool1_pad (ZeroPadding2D)      (None, 77, 77, 64)   0           ['conv1_relu[0][0]']

 pool1_pool (MaxPooling2D)      (None, 38, 38, 64)   0           ['pool1_pad[0][0]']

 conv2_block1_1_conv (Conv2D)   (None, 38, 38, 64)   4160        ['pool1_pool[0][0]']

 conv2_block1_1_bn (BatchNormal  (None, 38, 38, 64)  256         ['conv2_block1_1_conv[0][0]']
 ization)

 conv2_block1_1_relu (Activatio  (None, 38, 38, 64)  0           ['conv2_block1_1_bn[0][0]']
 n)

 conv2_block1_2_conv (Conv2D)   (None, 38, 38, 64)   36928       ['conv2_block1_1_relu[0][0]']

 conv2_block1_2_bn (BatchNormal  (None, 38, 38, 64)  256         ['conv2_block1_2_conv[0][0]']
 ization)

 conv2_block1_2_relu (Activatio  (None, 38, 38, 64)  0           ['conv2_block1_2_bn[0][0]']
 n)

 conv2_block1_0_conv (Conv2D)   (None, 38, 38, 256)  16640       ['pool1_pool[0][0]']

 conv2_block1_3_conv (Conv2D)   (None, 38, 38, 256)  16640       ['conv2_block1_2_relu[0][0]']

 conv2_block1_0_bn (BatchNormal  (None, 38, 38, 256)  1024       ['conv2_block1_0_conv[0][0]']
 ization)

 conv2_block1_3_bn (BatchNormal  (None, 38, 38, 256)  1024       ['conv2_block1_3_conv[0][0]']
 ization)

 conv2_block1_add (Add)         (None, 38, 38, 256)  0           ['conv2_block1_0_bn[0][0]',
                                                                  'conv2_block1_3_bn[0][0]']

 conv2_block1_out (Activation)  (None, 38, 38, 256)  0           ['conv2_block1_add[0][0]']

 conv2_block2_1_conv (Conv2D)   (None, 38, 38, 64)   16448       ['conv2_block1_out[0][0]']

 conv2_block2_1_bn (BatchNormal  (None, 38, 38, 64)  256         ['conv2_block2_1_conv[0][0]']
 ization)

 conv2_block2_1_relu (Activatio  (None, 38, 38, 64)  0           ['conv2_block2_1_bn[0][0]']
 n)

 conv2_block2_2_conv (Conv2D)   (None, 38, 38, 64)   36928       ['conv2_block2_1_relu[0][0]']

 conv2_block2_2_bn (BatchNormal  (None, 38, 38, 64)  256         ['conv2_block2_2_conv[0][0]']
 ization)

 conv2_block2_2_relu (Activatio  (None, 38, 38, 64)  0           ['conv2_block2_2_bn[0][0]']
 n)

 conv2_block2_3_conv (Conv2D)   (None, 38, 38, 256)  16640       ['conv2_block2_2_relu[0][0]']

 conv2_block2_3_bn (BatchNormal  (None, 38, 38, 256)  1024       ['conv2_block2_3_conv[0][0]']
 ization)

 conv2_block2_add (Add)         (None, 38, 38, 256)  0           ['conv2_block1_out[0][0]',
                                                                  'conv2_block2_3_bn[0][0]']

 conv2_block2_out (Activation)  (None, 38, 38, 256)  0           ['conv2_block2_add[0][0]']

 conv2_block3_1_conv (Conv2D)   (None, 38, 38, 64)   16448       ['conv2_block2_out[0][0]']

 conv2_block3_1_bn (BatchNormal  (None, 38, 38, 64)  256         ['conv2_block3_1_conv[0][0]']
 ization)

 conv2_block3_1_relu (Activatio  (None, 38, 38, 64)  0           ['conv2_block3_1_bn[0][0]']
 n)

 conv2_block3_2_conv (Conv2D)   (None, 38, 38, 64)   36928       ['conv2_block3_1_relu[0][0]']

 conv2_block3_2_bn (BatchNormal  (None, 38, 38, 64)  256         ['conv2_block3_2_conv[0][0]']
 ization)

 conv2_block3_2_relu (Activatio  (None, 38, 38, 64)  0           ['conv2_block3_2_bn[0][0]']
 n)

 conv2_block3_3_conv (Conv2D)   (None, 38, 38, 256)  16640       ['conv2_block3_2_relu[0][0]']

 conv2_block3_3_bn (BatchNormal  (None, 38, 38, 256)  1024       ['conv2_block3_3_conv[0][0]']
 ization)

 conv2_block3_add (Add)         (None, 38, 38, 256)  0           ['conv2_block2_out[0][0]',
                                                                  'conv2_block3_3_bn[0][0]']

 conv2_block3_out (Activation)  (None, 38, 38, 256)  0           ['conv2_block3_add[0][0]']

 conv3_block1_1_conv (Conv2D)   (None, 19, 19, 128)  32896       ['conv2_block3_out[0][0]']

 conv3_block1_1_bn (BatchNormal  (None, 19, 19, 128)  512        ['conv3_block1_1_conv[0][0]']
 ization)

 conv3_block1_1_relu (Activatio  (None, 19, 19, 128)  0          ['conv3_block1_1_bn[0][0]']
 n)

 conv3_block1_2_conv (Conv2D)   (None, 19, 19, 128)  147584      ['conv3_block1_1_relu[0][0]']

 conv3_block1_2_bn (BatchNormal  (None, 19, 19, 128)  512        ['conv3_block1_2_conv[0][0]']
 ization)

 conv3_block1_2_relu (Activatio  (None, 19, 19, 128)  0          ['conv3_block1_2_bn[0][0]']
 n)

 conv3_block1_0_conv (Conv2D)   (None, 19, 19, 512)  131584      ['conv2_block3_out[0][0]']

 conv3_block1_3_conv (Conv2D)   (None, 19, 19, 512)  66048       ['conv3_block1_2_relu[0][0]']

 conv3_block1_0_bn (BatchNormal  (None, 19, 19, 512)  2048       ['conv3_block1_0_conv[0][0]']
 ization)

 conv3_block1_3_bn (BatchNormal  (None, 19, 19, 512)  2048       ['conv3_block1_3_conv[0][0]']
 ization)

 conv3_block1_add (Add)         (None, 19, 19, 512)  0           ['conv3_block1_0_bn[0][0]',
                                                                  'conv3_block1_3_bn[0][0]']

 conv3_block1_out (Activation)  (None, 19, 19, 512)  0           ['conv3_block1_add[0][0]']

 conv3_block2_1_conv (Conv2D)   (None, 19, 19, 128)  65664       ['conv3_block1_out[0][0]']

 conv3_block2_1_bn (BatchNormal  (None, 19, 19, 128)  512        ['conv3_block2_1_conv[0][0]']
 ization)

 conv3_block2_1_relu (Activatio  (None, 19, 19, 128)  0          ['conv3_block2_1_bn[0][0]']
 n)

 conv3_block2_2_conv (Conv2D)   (None, 19, 19, 128)  147584      ['conv3_block2_1_relu[0][0]']

 conv3_block2_2_bn (BatchNormal  (None, 19, 19, 128)  512        ['conv3_block2_2_conv[0][0]']
 ization)

 conv3_block2_2_relu (Activatio  (None, 19, 19, 128)  0          ['conv3_block2_2_bn[0][0]']
 n)

 conv3_block2_3_conv (Conv2D)   (None, 19, 19, 512)  66048       ['conv3_block2_2_relu[0][0]']

 conv3_block2_3_bn (BatchNormal  (None, 19, 19, 512)  2048       ['conv3_block2_3_conv[0][0]']
 ization)

 conv3_block2_add (Add)         (None, 19, 19, 512)  0           ['conv3_block1_out[0][0]',
                                                                  'conv3_block2_3_bn[0][0]']

 conv3_block2_out (Activation)  (None, 19, 19, 512)  0           ['conv3_block2_add[0][0]']

 conv3_block3_1_conv (Conv2D)   (None, 19, 19, 128)  65664       ['conv3_block2_out[0][0]']

 conv3_block3_1_bn (BatchNormal  (None, 19, 19, 128)  512        ['conv3_block3_1_conv[0][0]']
 ization)

 conv3_block3_1_relu (Activatio  (None, 19, 19, 128)  0          ['conv3_block3_1_bn[0][0]']
 n)

 conv3_block3_2_conv (Conv2D)   (None, 19, 19, 128)  147584      ['conv3_block3_1_relu[0][0]']

 conv3_block3_2_bn (BatchNormal  (None, 19, 19, 128)  512        ['conv3_block3_2_conv[0][0]']
 ization)

 conv3_block3_2_relu (Activatio  (None, 19, 19, 128)  0          ['conv3_block3_2_bn[0][0]']
 n)

 conv3_block3_3_conv (Conv2D)   (None, 19, 19, 512)  66048       ['conv3_block3_2_relu[0][0]']

 conv3_block3_3_bn (BatchNormal  (None, 19, 19, 512)  2048       ['conv3_block3_3_conv[0][0]']
 ization)

 conv3_block3_add (Add)         (None, 19, 19, 512)  0           ['conv3_block2_out[0][0]',
                                                                  'conv3_block3_3_bn[0][0]']

 conv3_block3_out (Activation)  (None, 19, 19, 512)  0           ['conv3_block3_add[0][0]']

 conv3_block4_1_conv (Conv2D)   (None, 19, 19, 128)  65664       ['conv3_block3_out[0][0]']

 conv3_block4_1_bn (BatchNormal  (None, 19, 19, 128)  512        ['conv3_block4_1_conv[0][0]']
 ization)

 conv3_block4_1_relu (Activatio  (None, 19, 19, 128)  0          ['conv3_block4_1_bn[0][0]']
 n)

 conv3_block4_2_conv (Conv2D)   (None, 19, 19, 128)  147584      ['conv3_block4_1_relu[0][0]']

 conv3_block4_2_bn (BatchNormal  (None, 19, 19, 128)  512        ['conv3_block4_2_conv[0][0]']
 ization)

 conv3_block4_2_relu (Activatio  (None, 19, 19, 128)  0          ['conv3_block4_2_bn[0][0]']
 n)

 conv3_block4_3_conv (Conv2D)   (None, 19, 19, 512)  66048       ['conv3_block4_2_relu[0][0]']

 conv3_block4_3_bn (BatchNormal  (None, 19, 19, 512)  2048       ['conv3_block4_3_conv[0][0]']
 ization)

 conv3_block4_add (Add)         (None, 19, 19, 512)  0           ['conv3_block3_out[0][0]',
                                                                  'conv3_block4_3_bn[0][0]']

 conv3_block4_out (Activation)  (None, 19, 19, 512)  0           ['conv3_block4_add[0][0]']

 conv4_block1_1_conv (Conv2D)   (None, 10, 10, 256)  131328      ['conv3_block4_out[0][0]']

 conv4_block1_1_bn (BatchNormal  (None, 10, 10, 256)  1024       ['conv4_block1_1_conv[0][0]']
 ization)

 conv4_block1_1_relu (Activatio  (None, 10, 10, 256)  0          ['conv4_block1_1_bn[0][0]']
 n)

 conv4_block1_2_conv (Conv2D)   (None, 10, 10, 256)  590080      ['conv4_block1_1_relu[0][0]']

 conv4_block1_2_bn (BatchNormal  (None, 10, 10, 256)  1024       ['conv4_block1_2_conv[0][0]']
 ization)

 conv4_block1_2_relu (Activatio  (None, 10, 10, 256)  0          ['conv4_block1_2_bn[0][0]']
 n)

 conv4_block1_0_conv (Conv2D)   (None, 10, 10, 1024  525312      ['conv3_block4_out[0][0]']
                                )

 conv4_block1_3_conv (Conv2D)   (None, 10, 10, 1024  263168      ['conv4_block1_2_relu[0][0]']
                                )

 conv4_block1_0_bn (BatchNormal  (None, 10, 10, 1024  4096       ['conv4_block1_0_conv[0][0]']
 ization)                       )

 conv4_block1_3_bn (BatchNormal  (None, 10, 10, 1024  4096       ['conv4_block1_3_conv[0][0]']
 ization)                       )

 conv4_block1_add (Add)         (None, 10, 10, 1024  0           ['conv4_block1_0_bn[0][0]',
                                )                                 'conv4_block1_3_bn[0][0]']

 conv4_block1_out (Activation)  (None, 10, 10, 1024  0           ['conv4_block1_add[0][0]']
                                )

 conv4_block2_1_conv (Conv2D)   (None, 10, 10, 256)  262400      ['conv4_block1_out[0][0]']

 conv4_block2_1_bn (BatchNormal  (None, 10, 10, 256)  1024       ['conv4_block2_1_conv[0][0]']
 ization)

 conv4_block2_1_relu (Activatio  (None, 10, 10, 256)  0          ['conv4_block2_1_bn[0][0]']
 n)

 conv4_block2_2_conv (Conv2D)   (None, 10, 10, 256)  590080      ['conv4_block2_1_relu[0][0]']

 conv4_block2_2_bn (BatchNormal  (None, 10, 10, 256)  1024       ['conv4_block2_2_conv[0][0]']
 ization)

 conv4_block2_2_relu (Activatio  (None, 10, 10, 256)  0          ['conv4_block2_2_bn[0][0]']
 n)

 conv4_block2_3_conv (Conv2D)   (None, 10, 10, 1024  263168      ['conv4_block2_2_relu[0][0]']
                                )

 conv4_block2_3_bn (BatchNormal  (None, 10, 10, 1024  4096       ['conv4_block2_3_conv[0][0]']
 ization)                       )

 conv4_block2_add (Add)         (None, 10, 10, 1024  0           ['conv4_block1_out[0][0]',
                                )                                 'conv4_block2_3_bn[0][0]']

 conv4_block2_out (Activation)  (None, 10, 10, 1024  0           ['conv4_block2_add[0][0]']
                                )

 conv4_block3_1_conv (Conv2D)   (None, 10, 10, 256)  262400      ['conv4_block2_out[0][0]']

 conv4_block3_1_bn (BatchNormal  (None, 10, 10, 256)  1024       ['conv4_block3_1_conv[0][0]']
 ization)

 conv4_block3_1_relu (Activatio  (None, 10, 10, 256)  0          ['conv4_block3_1_bn[0][0]']
 n)

 conv4_block3_2_conv (Conv2D)   (None, 10, 10, 256)  590080      ['conv4_block3_1_relu[0][0]']

 conv4_block3_2_bn (BatchNormal  (None, 10, 10, 256)  1024       ['conv4_block3_2_conv[0][0]']
 ization)

 conv4_block3_2_relu (Activatio  (None, 10, 10, 256)  0          ['conv4_block3_2_bn[0][0]']
 n)

 conv4_block3_3_conv (Conv2D)   (None, 10, 10, 1024  263168      ['conv4_block3_2_relu[0][0]']
                                )

 conv4_block3_3_bn (BatchNormal  (None, 10, 10, 1024  4096       ['conv4_block3_3_conv[0][0]']
 ization)                       )

 conv4_block3_add (Add)         (None, 10, 10, 1024  0           ['conv4_block2_out[0][0]',
                                )                                 'conv4_block3_3_bn[0][0]']

 conv4_block3_out (Activation)  (None, 10, 10, 1024  0           ['conv4_block3_add[0][0]']
                                )

 conv4_block4_1_conv (Conv2D)   (None, 10, 10, 256)  262400      ['conv4_block3_out[0][0]']

 conv4_block4_1_bn (BatchNormal  (None, 10, 10, 256)  1024       ['conv4_block4_1_conv[0][0]']
 ization)

 conv4_block4_1_relu (Activatio  (None, 10, 10, 256)  0          ['conv4_block4_1_bn[0][0]']
 n)

 conv4_block4_2_conv (Conv2D)   (None, 10, 10, 256)  590080      ['conv4_block4_1_relu[0][0]']

 conv4_block4_2_bn (BatchNormal  (None, 10, 10, 256)  1024       ['conv4_block4_2_conv[0][0]']
 ization)

 conv4_block4_2_relu (Activatio  (None, 10, 10, 256)  0          ['conv4_block4_2_bn[0][0]']
 n)

 conv4_block4_3_conv (Conv2D)   (None, 10, 10, 1024  263168      ['conv4_block4_2_relu[0][0]']
                                )

 conv4_block4_3_bn (BatchNormal  (None, 10, 10, 1024  4096       ['conv4_block4_3_conv[0][0]']
 ization)                       )

 conv4_block4_add (Add)         (None, 10, 10, 1024  0           ['conv4_block3_out[0][0]',
                                )                                 'conv4_block4_3_bn[0][0]']

 conv4_block4_out (Activation)  (None, 10, 10, 1024  0           ['conv4_block4_add[0][0]']
                                )

 conv4_block5_1_conv (Conv2D)   (None, 10, 10, 256)  262400      ['conv4_block4_out[0][0]']

 conv4_block5_1_bn (BatchNormal  (None, 10, 10, 256)  1024       ['conv4_block5_1_conv[0][0]']
 ization)

 conv4_block5_1_relu (Activatio  (None, 10, 10, 256)  0          ['conv4_block5_1_bn[0][0]']
 n)

 conv4_block5_2_conv (Conv2D)   (None, 10, 10, 256)  590080      ['conv4_block5_1_relu[0][0]']

 conv4_block5_2_bn (BatchNormal  (None, 10, 10, 256)  1024       ['conv4_block5_2_conv[0][0]']
 ization)

 conv4_block5_2_relu (Activatio  (None, 10, 10, 256)  0          ['conv4_block5_2_bn[0][0]']
 n)

 conv4_block5_3_conv (Conv2D)   (None, 10, 10, 1024  263168      ['conv4_block5_2_relu[0][0]']
                                )

 conv4_block5_3_bn (BatchNormal  (None, 10, 10, 1024  4096       ['conv4_block5_3_conv[0][0]']
 ization)                       )

 conv4_block5_add (Add)         (None, 10, 10, 1024  0           ['conv4_block4_out[0][0]',
                                )                                 'conv4_block5_3_bn[0][0]']

 conv4_block5_out (Activation)  (None, 10, 10, 1024  0           ['conv4_block5_add[0][0]']
                                )

 conv4_block6_1_conv (Conv2D)   (None, 10, 10, 256)  262400      ['conv4_block5_out[0][0]']

 conv4_block6_1_bn (BatchNormal  (None, 10, 10, 256)  1024       ['conv4_block6_1_conv[0][0]']
 ization)

 conv4_block6_1_relu (Activatio  (None, 10, 10, 256)  0          ['conv4_block6_1_bn[0][0]']
 n)

 conv4_block6_2_conv (Conv2D)   (None, 10, 10, 256)  590080      ['conv4_block6_1_relu[0][0]']

 conv4_block6_2_bn (BatchNormal  (None, 10, 10, 256)  1024       ['conv4_block6_2_conv[0][0]']
 ization)

 conv4_block6_2_relu (Activatio  (None, 10, 10, 256)  0          ['conv4_block6_2_bn[0][0]']
 n)

 conv4_block6_3_conv (Conv2D)   (None, 10, 10, 1024  263168      ['conv4_block6_2_relu[0][0]']
                                )

 conv4_block6_3_bn (BatchNormal  (None, 10, 10, 1024  4096       ['conv4_block6_3_conv[0][0]']
 ization)                       )

 conv4_block6_add (Add)         (None, 10, 10, 1024  0           ['conv4_block5_out[0][0]',
                                )                                 'conv4_block6_3_bn[0][0]']

 conv4_block6_out (Activation)  (None, 10, 10, 1024  0           ['conv4_block6_add[0][0]']
                                )

 conv5_block1_1_conv (Conv2D)   (None, 5, 5, 512)    524800      ['conv4_block6_out[0][0]']

 conv5_block1_1_bn (BatchNormal  (None, 5, 5, 512)   2048        ['conv5_block1_1_conv[0][0]']
 ization)

 conv5_block1_1_relu (Activatio  (None, 5, 5, 512)   0           ['conv5_block1_1_bn[0][0]']
 n)

 conv5_block1_2_conv (Conv2D)   (None, 5, 5, 512)    2359808     ['conv5_block1_1_relu[0][0]']

 conv5_block1_2_bn (BatchNormal  (None, 5, 5, 512)   2048        ['conv5_block1_2_conv[0][0]']
 ization)

 conv5_block1_2_relu (Activatio  (None, 5, 5, 512)   0           ['conv5_block1_2_bn[0][0]']
 n)

 conv5_block1_0_conv (Conv2D)   (None, 5, 5, 2048)   2099200     ['conv4_block6_out[0][0]']

 conv5_block1_3_conv (Conv2D)   (None, 5, 5, 2048)   1050624     ['conv5_block1_2_relu[0][0]']

 conv5_block1_0_bn (BatchNormal  (None, 5, 5, 2048)  8192        ['conv5_block1_0_conv[0][0]']
 ization)

 conv5_block1_3_bn (BatchNormal  (None, 5, 5, 2048)  8192        ['conv5_block1_3_conv[0][0]']
 ization)

 conv5_block1_add (Add)         (None, 5, 5, 2048)   0           ['conv5_block1_0_bn[0][0]',
                                                                  'conv5_block1_3_bn[0][0]']

 conv5_block1_out (Activation)  (None, 5, 5, 2048)   0           ['conv5_block1_add[0][0]']

 conv5_block2_1_conv (Conv2D)   (None, 5, 5, 512)    1049088     ['conv5_block1_out[0][0]']

 conv5_block2_1_bn (BatchNormal  (None, 5, 5, 512)   2048        ['conv5_block2_1_conv[0][0]']
 ization)

 conv5_block2_1_relu (Activatio  (None, 5, 5, 512)   0           ['conv5_block2_1_bn[0][0]']
 n)

 conv5_block2_2_conv (Conv2D)   (None, 5, 5, 512)    2359808     ['conv5_block2_1_relu[0][0]']

 conv5_block2_2_bn (BatchNormal  (None, 5, 5, 512)   2048        ['conv5_block2_2_conv[0][0]']
 ization)

 conv5_block2_2_relu (Activatio  (None, 5, 5, 512)   0           ['conv5_block2_2_bn[0][0]']
 n)

 conv5_block2_3_conv (Conv2D)   (None, 5, 5, 2048)   1050624     ['conv5_block2_2_relu[0][0]']

 conv5_block2_3_bn (BatchNormal  (None, 5, 5, 2048)  8192        ['conv5_block2_3_conv[0][0]']
 ization)

 conv5_block2_add (Add)         (None, 5, 5, 2048)   0           ['conv5_block1_out[0][0]',
                                                                  'conv5_block2_3_bn[0][0]']

 conv5_block2_out (Activation)  (None, 5, 5, 2048)   0           ['conv5_block2_add[0][0]']

 conv5_block3_1_conv (Conv2D)   (None, 5, 5, 512)    1049088     ['conv5_block2_out[0][0]']

 conv5_block3_1_bn (BatchNormal  (None, 5, 5, 512)   2048        ['conv5_block3_1_conv[0][0]']
 ization)

 conv5_block3_1_relu (Activatio  (None, 5, 5, 512)   0           ['conv5_block3_1_bn[0][0]']
 n)

 conv5_block3_2_conv (Conv2D)   (None, 5, 5, 512)    2359808     ['conv5_block3_1_relu[0][0]']

 conv5_block3_2_bn (BatchNormal  (None, 5, 5, 512)   2048        ['conv5_block3_2_conv[0][0]']
 ization)

 conv5_block3_2_relu (Activatio  (None, 5, 5, 512)   0           ['conv5_block3_2_bn[0][0]']
 n)

 conv5_block3_3_conv (Conv2D)   (None, 5, 5, 2048)   1050624     ['conv5_block3_2_relu[0][0]']

 conv5_block3_3_bn (BatchNormal  (None, 5, 5, 2048)  8192        ['conv5_block3_3_conv[0][0]']
 ization)

 conv5_block3_add (Add)         (None, 5, 5, 2048)   0           ['conv5_block2_out[0][0]',
                                                                  'conv5_block3_3_bn[0][0]']

 conv5_block3_out (Activation)  (None, 5, 5, 2048)   0           ['conv5_block3_add[0][0]']

 avg_pool (GlobalAveragePooling  (None, 2048)        0           ['conv5_block3_out[0][0]']
 2D)

 predictions (Dense)            (None, 2)            4098        ['avg_pool[0][0]']

==================================================================================================
Total params: 23,591,810
Trainable params: 23,538,690
Non-trainable params: 53,120

In [20]:
history = res.fit(X_train1, y_train1, epochs = 3, validation_split = 0.20)

Epoch 1/3
341/341 [==============================] - 139s 408ms/step - loss: 0.6318 - accuracy: 0.6611 - val_loss: 1.2304 - val_accuracy: 0.5162
Epoch 2/3
341/341 [==============================] - 138s 405ms/step - loss: 0.6455 - accuracy: 0.6494 - val_loss: 0.6218 - val_accuracy: 0.6639
Epoch 3/3
341/341 [==============================] - 139s 409ms/step - loss: 0.6263 - accuracy: 0.6655 - val_loss: 0.6293 - val_accuracy: 0.6532

In [21]:
results1 = res.evaluate(X_test1, y_test1, batch_size=32)
print(results1[1])

70/70 [==============================] - 8s 117ms/step - loss: 0.6100 - accuracy: 0.6750
0.675011157989502

In [22]:
import joblib
joblib.dump(res, 'image_basline_model_67.pkl')

INFO:tensorflow:Assets written to: ram://9e03d8f7-fe86-48c8-b1b3-12abf350eb90/assets

['image_basline_model_67.pkl']

In [23]:
print(results1[1]*100)

67.5011157989502

EXTRA CODE(NOT REQUIRED)

In [ ]:
#call ResNet model
res_model = ResNet50(
    include_top=False,
    weights="imagenet",
    input_tensor=k.Input(shape=(150,150,3)),
)
for models in res_model.layers[:-1]:
      models.trainable= False
model = k.models.Sequential()
model.add(res_model)
model.add(k.layers.Flatten())
model.add(k.layers.Dense(2, activation='softmax'))
print(model.summary())

In [ ]:
model.compile(optimizer="adam", loss=k.losses.SparseCategoricalCrossentropy(), metrics=['accuracy'])

In [ ]:
early = tf.keras.callbacks.EarlyStopping(monitor='val_loss',patience=5,restore_best_weights=True)

In [ ]:
FIT = model.fit(train_generator,
    epochs = 1)

In [ ]:
scores=model.evaluate(test_generator,batch_size=128)
print(scores[1])

# IMAGE

In [ ]:
import tensorflow as tf
import numpy as np
from tensorflow import keras
import os
import cv2
from tensorflow.keras.preprocessing.image import ImageDataGenerator
from tensorflow.keras.preprocessing import image
import matplotlib.pyplot as plt

TRAIN

In [ ]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/CRISIS_1/task_informative_text_img_train.csv", sep=',')
df

,event_name,tweet_id,image_id,tweet_text,image,label,label_text,label_image,label_text_image
0,california_wildfires,9.177910e+17,917791291823591425_0,RT @Cal_OES: PLS SHARE: Weâ€™re capturing wild...,data_image/california_wildfires/10_10_2017/917...,informative,informative,informative,Positive
1,california_wildfires,9.177910e+17,917791291823591425_1,RT @Cal_OES: PLS SHARE: Weâ€™re capturing wild...,data_image/california_wildfires/10_10_2017/917...,not_informative,informative,not_informative,Negative
2,california_wildfires,9.177930e+17,917793137925459968_0,RT @KAKEnews: California wildfires destroy mor...,data_image/california_wildfires/10_10_2017/917...,informative,informative,informative,Positive
3,california_wildfires,9.177930e+17,917793137925459968_1,RT @KAKEnews: California wildfires destroy mor...,data_image/california_wildfires/10_10_2017/917...,informative,informative,informative,Positive
4,california_wildfires,9.177930e+17,917793137925459968_2,RT @KAKEnews: California wildfires destroy mor...,data_image/california_wildfires/10_10_2017/917...,informative,informative,informative,Positive
...,...,...,...,...,...,...,...,...,...
13603,hurricane_maria,9.123420e+17,912341945430798336_0,11am #Maria update: tropical storm force winds...,data_image/hurricane_maria/25_9_2017/912341945...,informative,informative,informative,Positive
13604,hurricane_irma,9.099370e+17,909936612196454403_0,RT @WhereTraveler: Hurricane Irma Survival Gui...,data_image/hurricane_irma/19_9_2017/9099366121...,informative,informative,not_informative,Negative
13605,hurricane_harvey,9.055820e+17,905581858485882881_0,Thinking of doing a #DNA test? Buy a @FamilyTr...,data_image/hurricane_harvey/7_9_2017/905581858...,not_informative,informative,not_informative,Negative
13606,hurricane_irma,9.098800e+17,909879746598723590_0,Now blaming Hurricane Irma on Ursula the Witch...,data_image/hurricane_irma/18_9_2017/9098797465...,informative,informative,not_informative,Negative
13607,mexico_earthquake,9.107010e+17,910700764808564736_0,"Earthquake in Mexico rocks PH Embassy, no Fili...",data_image/mexico_earthquake/21_9_2017/9107007...,informative,informative,informative,Positive

In [ ]:
selected_columns=df[['image','label_image']]
df2=selected_columns.copy()

In [ ]:
df2

                                                   image      label_image
0      data_image/california_wildfires/10_10_2017/917...      informative
1      data_image/california_wildfires/10_10_2017/917...  not_informative
2      data_image/california_wildfires/10_10_2017/917...      informative
3      data_image/california_wildfires/10_10_2017/917...      informative
4      data_image/california_wildfires/10_10_2017/917...      informative
...                                                  ...              ...
13603  data_image/hurricane_maria/25_9_2017/912341945...      informative
13604  data_image/hurricane_irma/19_9_2017/9099366121...  not_informative
13605  data_image/hurricane_harvey/7_9_2017/905581858...  not_informative
13606  data_image/hurricane_irma/18_9_2017/9098797465...  not_informative
13607  data_image/mexico_earthquake/21_9_2017/9107007...      informative

[13608 rows x 2 columns]

In [ ]:
code = []

for i in range(df2.shape[0]):
    if (df2.iloc[i]['label_image']=='informative'):
        code.append(1)
    elif (df2.iloc[i]['label_image']=='not_informative'):
        code.append(0)
    else:
        poke_type.append('NaN')
        code.append('NaN')

In [ ]:
#df2['code'] = code
new_df_image = df2

new_df_image.reset_index(drop=True, inplace=True)

In [ ]:
new_df_image

                                                   image      label_image
0      data_image/california_wildfires/10_10_2017/917...      informative
1      data_image/california_wildfires/10_10_2017/917...  not_informative
2      data_image/california_wildfires/10_10_2017/917...      informative
3      data_image/california_wildfires/10_10_2017/917...      informative
4      data_image/california_wildfires/10_10_2017/917...      informative
...                                                  ...              ...
13603  data_image/hurricane_maria/25_9_2017/912341945...      informative
13604  data_image/hurricane_irma/19_9_2017/9099366121...  not_informative
13605  data_image/hurricane_harvey/7_9_2017/905581858...  not_informative
13606  data_image/hurricane_irma/18_9_2017/9098797465...  not_informative
13607  data_image/mexico_earthquake/21_9_2017/9107007...      informative

[13608 rows x 2 columns]

In [ ]:
new_df_image.drop('label_image',axis = 1,inplace=True)

VALID

In [ ]:
import pandas as pd
df1_image = pd.read_csv("/content/drive/MyDrive/CRISIS_1/task_informative_text_img_dev.csv", sep=',')
df1_image

,event_name,tweet_id,image_id,tweet_text,image,label,label_text,label_image,label_text_image
0,iraq_iran_earthquake,931465546129989632,931465546129989632_0,#Iran #earthquake damage put at over 5bn pound...,data_image/iraq_iran_earthquake/17_11_2017/931...,not_informative,informative,not_informative,Negative
1,hurricane_harvey,905064623199719425,905064623199719425_0,We've lost track of how many houses/families @...,data_image/hurricane_harvey/5_9_2017/905064623...,informative,informative,informative,Positive
2,hurricane_maria,922857566220283904,922857566220283904_0,The gym above subway got destroyed. The cement...,data_image/hurricane_maria/24_10_2017/92285756...,informative,informative,informative,Positive
3,hurricane_irma,909767231411769344,909767231411769344_0,Famous Captive Orca Fends For Herself In Flori...,data_image/hurricane_irma/18_9_2017/9097672314...,informative,informative,not_informative,Negative
4,california_wildfires,920571592131915777,920571592131915777_0,Californiaâ€™s Sausalito Fire In Marin Capture...,data_image/california_wildfires/18_10_2017/920...,informative,informative,informative,Positive
...,...,...,...,...,...,...,...,...,...
2232,hurricane_maria,921842963843551233,921842963843551233_0,Univision News Weekly Brief: A month after the...,data_image/hurricane_maria/21_10_2017/92184296...,informative,not_informative,informative,Negative
2233,mexico_earthquake,910658635851644928,910658635851644928_0,OzarksFirst (KOLR): Springfield Woman's Family...,data_image/mexico_earthquake/21_9_2017/9106586...,informative,informative,informative,Positive
2234,hurricane_harvey,906341151061499910,906341151061499910_0,Nana Tornado at Afia schwarâ€™s house celebrat...,data_image/hurricane_harvey/9_9_2017/906341151...,not_informative,not_informative,not_informative,Positive
2235,hurricane_maria,928822277067636737,928822277067636737_0,Here Are Some Weird Moments From President Tru...,data_image/hurricane_maria/10_11_2017/92882227...,not_informative,not_informative,not_informative,Positive
2236,hurricane_maria,913401831031820288,913401831031820288_0,NSF statement on impact of #HurricaneMaria on ...,data_image/hurricane_maria/28_9_2017/913401831...,not_informative,informative,not_informative,Negative

In [ ]:
selected_columns=df1_image[['image','label_image']]
df2_image=selected_columns.copy()

In [ ]:
df2_image

                                                  image      label_image
0     data_image/iraq_iran_earthquake/17_11_2017/931...  not_informative
1     data_image/hurricane_harvey/5_9_2017/905064623...      informative
2     data_image/hurricane_maria/24_10_2017/92285756...      informative
3     data_image/hurricane_irma/18_9_2017/9097672314...  not_informative
4     data_image/california_wildfires/18_10_2017/920...      informative
...                                                 ...              ...
2232  data_image/hurricane_maria/21_10_2017/92184296...      informative
2233  data_image/mexico_earthquake/21_9_2017/9106586...      informative
2234  data_image/hurricane_harvey/9_9_2017/906341151...  not_informative
2235  data_image/hurricane_maria/10_11_2017/92882227...  not_informative
2236  data_image/hurricane_maria/28_9_2017/913401831...  not_informative

[2237 rows x 2 columns]

In [ ]:
code = []

for i in range(df2_image.shape[0]):
    if (df2_image.iloc[i]['label_image']=='informative'):
        code.append(1)
    elif (df2_image.iloc[i]['label_image']=='not_informative'):
        code.append(0)
    else:
        poke_type.append('NaN')
        code.append('NaN')

In [ ]:
#df2_image['code'] = code
new_df1_image = df2_image

new_df1_image.reset_index(drop=True, inplace=True)

In [ ]:
new_df1_image

                                                  image      label_image
0     data_image/iraq_iran_earthquake/17_11_2017/931...  not_informative
1     data_image/hurricane_harvey/5_9_2017/905064623...      informative
2     data_image/hurricane_maria/24_10_2017/92285756...      informative
3     data_image/hurricane_irma/18_9_2017/9097672314...  not_informative
4     data_image/california_wildfires/18_10_2017/920...      informative
...                                                 ...              ...
2232  data_image/hurricane_maria/21_10_2017/92184296...      informative
2233  data_image/mexico_earthquake/21_9_2017/9106586...      informative
2234  data_image/hurricane_harvey/9_9_2017/906341151...  not_informative
2235  data_image/hurricane_maria/10_11_2017/92882227...  not_informative
2236  data_image/hurricane_maria/28_9_2017/913401831...  not_informative

[2237 rows x 2 columns]

In [ ]:
new_df1_image.drop('label_image',axis = 1,inplace=True)

TEST

In [ ]:
import pandas as pd
df3_image = pd.read_csv("/content/drive/MyDrive/CRISIS_1/task_informative_text_img_test.csv", sep=',')
df3_image

,event_name,tweet_id,image_id,tweet_text,image,label,label_text,label_image,label_text_image
0,srilanka_floods,878185882431389696,878185882431389696_0,Cristofer CLEMENTE MORA now in 2nd at aguille ...,data_image/srilanka_floods/23_6_2017/878185882...,not_informative,not_informative,not_informative,Positive
1,hurricane_harvey,906258753707790336,906258753707790336_0,RT @THS_College: On our way to Warrior Restora...,data_image/hurricane_harvey/8_9_2017/906258753...,not_informative,informative,not_informative,Negative
2,hurricane_maria,910542719864397824,910542719864397824_0,Hurricane Maria batters Puerto Rico as a Cat 4...,data_image/hurricane_maria/20_9_2017/910542719...,informative,informative,informative,Positive
3,hurricane_harvey,906219963152785408,906219963152785408_0,ZZ Top Donating ‘La Grange’ Download Sales To ...,data_image/hurricane_harvey/8_9_2017/906219963...,informative,informative,not_informative,Negative
4,hurricane_maria,913009824195104768,913009824195104768_0,8am #Maria update: holding steady as a strong ...,data_image/hurricane_maria/27_9_2017/913009824...,informative,informative,informative,Positive
...,...,...,...,...,...,...,...,...,...
2232,hurricane_irma,910239663759282176,910239663759282176_0,We are joining with with other High Point lead...,data_image/hurricane_irma/19_9_2017/9102396637...,not_informative,informative,not_informative,Negative
2233,hurricane_irma,909468291558772737,909468291558772737_0,#MONEY #IRMA business McCain laments 'accident...,data_image/hurricane_irma/17_9_2017/9094682915...,informative,informative,informative,Positive
2234,hurricane_harvey,909442415924318209,909442415924318209_0,Oil &amp; gas operators increase number of eva...,data_image/hurricane_harvey/17_9_2017/90944241...,informative,informative,informative,Positive
2235,srilanka_floods,879731058744242177,879731058744242177_0,Beep beepbeep beep beeep! EncuÃ©ntranos en Dr....,data_image/srilanka_floods/27_6_2017/879731058...,not_informative,not_informative,not_informative,Positive
2236,hurricane_harvey,908804643064496128,908804643064496128_0,"HUMAN BOY, DO YOU LIKE STEVE HARVEY. https://t...",data_image/hurricane_harvey/15_9_2017/90880464...,not_informative,not_informative,not_informative,Positive

In [ ]:
selected_columns=df3_image[['image','label_image']]
df3_image=selected_columns.copy()

In [ ]:
df3_image

                                                  image      label_image
0     data_image/srilanka_floods/23_6_2017/878185882...  not_informative
1     data_image/hurricane_harvey/8_9_2017/906258753...  not_informative
2     data_image/hurricane_maria/20_9_2017/910542719...      informative
3     data_image/hurricane_harvey/8_9_2017/906219963...  not_informative
4     data_image/hurricane_maria/27_9_2017/913009824...      informative
...                                                 ...              ...
2232  data_image/hurricane_irma/19_9_2017/9102396637...  not_informative
2233  data_image/hurricane_irma/17_9_2017/9094682915...      informative
2234  data_image/hurricane_harvey/17_9_2017/90944241...      informative
2235  data_image/srilanka_floods/27_6_2017/879731058...  not_informative
2236  data_image/hurricane_harvey/15_9_2017/90880464...  not_informative

[2237 rows x 2 columns]

In [ ]:
code = []

for i in range(df3_image.shape[0]):
    if (df3_image.iloc[i]['label_image']=='informative'):
        code.append(1)
    elif (df3_image.iloc[i]['label_image']=='not_informative'):
        code.append(0)
    else:
        poke_type.append('NaN')
        code.append('NaN')

In [ ]:
#df3_image['code'] = code
new_df2_image = df3_image

new_df2_image.reset_index(drop=True, inplace=True)

In [ ]:
new_df2_image

                                                  image      label_image
0     data_image/srilanka_floods/23_6_2017/878185882...  not_informative
1     data_image/hurricane_harvey/8_9_2017/906258753...  not_informative
2     data_image/hurricane_maria/20_9_2017/910542719...      informative
3     data_image/hurricane_harvey/8_9_2017/906219963...  not_informative
4     data_image/hurricane_maria/27_9_2017/913009824...      informative
...                                                 ...              ...
2232  data_image/hurricane_irma/19_9_2017/9102396637...  not_informative
2233  data_image/hurricane_irma/17_9_2017/9094682915...      informative
2234  data_image/hurricane_harvey/17_9_2017/90944241...      informative
2235  data_image/srilanka_floods/27_6_2017/879731058...  not_informative
2236  data_image/hurricane_harvey/15_9_2017/90880464...  not_informative

[2237 rows x 2 columns]

In [ ]:
new_df2_image.drop('label_image',axis = 1,inplace=True)

In [ ]:
train_df1=new_df_image
valid_df1=new_df1_image
test_df1=new_df2_image

In [ ]:
X_train1 = train_df1['image']
y_train1 = train_df1['label_image']
X_test1 = test_df1['image']
y_test1 = test_df1['label_image']
X_valid1 = valid_df1['image']
y_valid1 = valid_df1['label_image']

In [ ]:
from sklearn.model_selection import train_test_split
train_df1, test_df1= train_test_split(df2, test_size=0.2, random_state=25)

In [ ]:
# test_df1.drop('code',axis = 1,inplace=True)
train_df1

                                                   image
0      data_image/california_wildfires/10_10_2017/917...
1      data_image/california_wildfires/10_10_2017/917...
2      data_image/california_wildfires/10_10_2017/917...
3      data_image/california_wildfires/10_10_2017/917...
4      data_image/california_wildfires/10_10_2017/917...
...                                                  ...
13603  data_image/hurricane_maria/25_9_2017/912341945...
13604  data_image/hurricane_irma/19_9_2017/9099366121...
13605  data_image/hurricane_harvey/7_9_2017/905581858...
13606  data_image/hurricane_irma/18_9_2017/9098797465...
13607  data_image/mexico_earthquake/21_9_2017/9107007...

[13608 rows x 1 columns]

In [ ]:
valid_df1

                                                  image      label_image
0     data_image/iraq_iran_earthquake/17_11_2017/931...  not_informative
1     data_image/hurricane_harvey/5_9_2017/905064623...      informative
2     data_image/hurricane_maria/24_10_2017/92285756...      informative
3     data_image/hurricane_irma/18_9_2017/9097672314...  not_informative
4     data_image/california_wildfires/18_10_2017/920...      informative
...                                                 ...              ...
2232  data_image/hurricane_maria/21_10_2017/92184296...      informative
2233  data_image/mexico_earthquake/21_9_2017/9106586...      informative
2234  data_image/hurricane_harvey/9_9_2017/906341151...  not_informative
2235  data_image/hurricane_maria/10_11_2017/92882227...  not_informative
2236  data_image/hurricane_maria/28_9_2017/913401831...  not_informative

[2237 rows x 2 columns]

In [ ]:
import cv2

In [ ]:
nrows=150
ncolumns=150
channels=3

In [ ]:
def read(path,lab):
    X5=[]
    y5=[]
    for image in path:
        image='/content/drive/MyDrive/data_image/'+image
        X5.append(cv2.resize(cv2.imread(image,cv2.IMREAD_COLOR),(nrows,ncolumns),interpolation=cv2.INTER_CUBIC))
    for la in lab:
        if(la=='informative'):
            y5.append(1)
        else:
            y5.append(0)
    return X5,y5

In [ ]:
X_train1,y_train1=read(train_df1['image'],train_df1['label_image'])
# X_train1,y_train1=read(train_df1['image'],train_df1['label_image'])
# X_train1,y_train1=read(train_df1['image'],train_df1['label_image'])

In [ ]:
X_train1 = np.load('/content/drive/MyDrive/xtrain1.npy',allow_pickle=True)
X_test1 = np.load('/content/drive/MyDrive/xtest1.npy',allow_pickle=True)
X_valid1 = np.load('/content/drive/MyDrive/xvalid1.npy',allow_pickle=True)
y_train1=np.load('/content/drive/MyDrive/ytrain1.npy',allow_pickle=True)
y_test1=np.load('/content/drive/MyDrive/ytest1 (1).npy',allow_pickle=True)
y_valid1=np.load('/content/drive/MyDrive/yvalid1.npy',allow_pickle=True)

In [ ]:
X[0]

array([[[216, 203, 159],
        [180, 162, 132],
        [182, 179, 147],
        ...,
        [ 39,  49,  47],
        [117, 119, 129],
        [124, 124, 140]],

       [[218, 195, 169],
        [176, 156, 125],
        [119,  98,  69],
        ...,
        [102, 109, 120],
        [122, 124, 142],
        [111, 116, 126]],

       [[223, 197, 175],
        [214, 191, 161],
        [201, 176, 145],
        ...,
        [106, 113, 131],
        [119, 123, 141],
        [116, 122, 135]],

       ...,

       [[ 97,  91,  78],
        [107,  98,  85],
        [104,  95,  82],
        ...,
        [173, 158, 162],
        [172, 178, 190],
        [141, 147, 160]],

       [[ 98,  91,  76],
        [109,  98,  84],
        [110,  99,  85],
        ...,
        [183, 162, 155],
        [174, 172, 175],
        [150, 148, 151]],

       [[107,  96,  82],
        [109,  98,  84],
        [112,  99,  83],
        ...,
        [188, 154, 144],
        [200, 189, 183],
        [151, 143, 146]]], dtype=uint8)

In [ ]:
y

[1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 ...]

In [ ]:
X=np.array(X)

In [ ]:
X_train1=np.array(X_train1)
X_valid1=np.array(X_valid1)
X_test1=np.array(X_test1)
y_train1=np.array(y_train1)
y_valid1=np.array(y_valid1)
y_test1=np.array(y_test1)

In [ ]:
X.shape

(10886, 150, 150, 3)

In [ ]:
y=np.array(y)

In [ ]:
y.shape

(10886,)

In [ ]:
X_train1, X_val1, y_train1, y_val1 = train_test_split(X, y, random_state=42, test_size=0.15)

In [ ]:
X_train1.shape

(9253, 150, 150, 3)

In [ ]:
train_datagen = ImageDataGenerator(
    
    # rescale=1./255., 
    # rotation_range=40, 
    # width_shift_range=0.2, 
    # height_shift_range=0.2, 
    # shear_range=.2, 
    # zoom_range=0.2,
    horizontal_flip=True, 
    fill_mode='nearest',
    validation_split=0.1
)

In [ ]:
train_generator = train_datagen.flow(
    X_train1,y_train1,batch_size=16,shuffle=False 
   
)
validation_generator= train_datagen.flow(
    X_valid1,y_valid1,batch_size=16,shuffle=False 
   
)
test_generator= train_datagen.flow(
    X_test1,y_test1,batch_size=16,shuffle=False
   
)

In [ ]:
model1 = keras.Sequential()

# Convolutional layer and maxpool layer 1
model1.add(keras.layers.Conv2D(32,(3,3),activation='relu',input_shape=(150,150,3)))
model1.add(keras.layers.MaxPool2D(2,2))

# Convolutional layer and maxpool layer 2
model1.add(keras.layers.Conv2D(64,(3,3),activation='relu'))
model1.add(keras.layers.MaxPool2D(2,2))

# Convolutional layer and maxpool layer 3
model1.add(keras.layers.Conv2D(128,(3,3),activation='relu'))
model1.add(keras.layers.MaxPool2D(2,2))

# Convolutional layer and maxpool layer 4
model1.add(keras.layers.Conv2D(128,(3,3),activation='relu'))
model1.add(keras.layers.MaxPool2D(2,2))

# This layer flattens the resulting image array to 1D array
model1.add(keras.layers.Flatten())
# model1.add(keras.dropout(0.5))
# Hidden layer with 512 neurons and Rectified Linear Unit activation function 
model1.add(keras.layers.Dense(512,activation='relu'))

# Output layer with single neuron which gives 0 for Cat or 1 for Dog 
#Here we use sigmoid activation function which makes our model output to lie between 0 and 1
model1.add(keras.layers.Dense(1,activation='sigmoid'))

In [ ]:
model1.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv2d_4 (Conv2D)           (None, 148, 148, 32)      896

 max_pooling2d_4 (MaxPooling  (None, 74, 74, 32)       0
 2D)

 conv2d_5 (Conv2D)           (None, 72, 72, 64)        18496

 max_pooling2d_5 (MaxPooling  (None, 36, 36, 64)       0
 2D)

 conv2d_6 (Conv2D)           (None, 34, 34, 128)       73856

 max_pooling2d_6 (MaxPooling  (None, 17, 17, 128)      0
 2D)

 conv2d_7 (Conv2D)           (None, 15, 15, 128)       147584

 max_pooling2d_7 (MaxPooling  (None, 7, 7, 128)        0
 2D)

 flatten_2 (Flatten)         (None, 6272)              0

 dense_5 (Dense)             (None, 512)               3211776

 dense_6 (Dense)             (None, 1)                 513

=================================================================
Total params: 3,453,121
Trainable params: 3,453,121
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model1.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [ ]:
history1=model1.fit_generator(train_generator,
         
         epochs = 1,
       
         )

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: UserWarning: `Model.fit_generator` is deprecated and will be removed in a future version. Please use `Model.fit`, which supports generators.
  This is separate from the ipykernel package so we can avoid doing imports until

851/851 [==============================] - 29s 34ms/step - loss: 0.6926 - accuracy: 0.5246

In [ ]:
results1 = model1.evaluate(X_test1, y_test1, batch_size=16)

140/140 [==============================] - 2s 14ms/step - loss: 0.6918 - accuracy: 0.5186

# IMAGE old

In [ ]:
import tensorflow as tf
import numpy as np
from tensorflow import keras
import os
import cv2
from tensorflow.keras.preprocessing.image import ImageDataGenerator
from tensorflow.keras.preprocessing import image
import matplotlib.pyplot as plt

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/CRISIS_1/task_informative_text_img_train.csv", sep=',')
df

,event_name,tweet_id,image_id,tweet_text,image,label,label_text,label_image,label_text_image
0,california_wildfires,9.177910e+17,917791291823591425_0,RT @Cal_OES: PLS SHARE: Weâ€™re capturing wild...,data_image/california_wildfires/10_10_2017/917...,informative,informative,informative,Positive
1,california_wildfires,9.177910e+17,917791291823591425_1,RT @Cal_OES: PLS SHARE: Weâ€™re capturing wild...,data_image/california_wildfires/10_10_2017/917...,not_informative,informative,not_informative,Negative
2,california_wildfires,9.177930e+17,917793137925459968_0,RT @KAKEnews: California wildfires destroy mor...,data_image/california_wildfires/10_10_2017/917...,informative,informative,informative,Positive
3,california_wildfires,9.177930e+17,917793137925459968_1,RT @KAKEnews: California wildfires destroy mor...,data_image/california_wildfires/10_10_2017/917...,informative,informative,informative,Positive
4,california_wildfires,9.177930e+17,917793137925459968_2,RT @KAKEnews: California wildfires destroy mor...,data_image/california_wildfires/10_10_2017/917...,informative,informative,informative,Positive
...,...,...,...,...,...,...,...,...,...
13603,hurricane_maria,9.123420e+17,912341945430798336_0,11am #Maria update: tropical storm force winds...,data_image/hurricane_maria/25_9_2017/912341945...,informative,informative,informative,Positive
13604,hurricane_irma,9.099370e+17,909936612196454403_0,RT @WhereTraveler: Hurricane Irma Survival Gui...,data_image/hurricane_irma/19_9_2017/9099366121...,informative,informative,not_informative,Negative
13605,hurricane_harvey,9.055820e+17,905581858485882881_0,Thinking of doing a #DNA test? Buy a @FamilyTr...,data_image/hurricane_harvey/7_9_2017/905581858...,not_informative,informative,not_informative,Negative
13606,hurricane_irma,9.098800e+17,909879746598723590_0,Now blaming Hurricane Irma on Ursula the Witch...,data_image/hurricane_irma/18_9_2017/9098797465...,informative,informative,not_informative,Negative
13607,mexico_earthquake,9.107010e+17,910700764808564736_0,"Earthquake in Mexico rocks PH Embassy, no Fili...",data_image/mexico_earthquake/21_9_2017/9107007...,informative,informative,informative,Positive

In [ ]:
selected_columns=df[['image','label_image','label_text']]
df2=selected_columns.copy()

In [ ]:
df2

                                                   image      label_image
0      data_image/california_wildfires/10_10_2017/917...      informative
1      data_image/california_wildfires/10_10_2017/917...  not_informative
2      data_image/california_wildfires/10_10_2017/917...      informative
3      data_image/california_wildfires/10_10_2017/917...      informative
4      data_image/california_wildfires/10_10_2017/917...      informative
...                                                  ...              ...
13603  data_image/hurricane_maria/25_9_2017/912341945...      informative
13604  data_image/hurricane_irma/19_9_2017/9099366121...  not_informative
13605  data_image/hurricane_harvey/7_9_2017/905581858...  not_informative
13606  data_image/hurricane_irma/18_9_2017/9098797465...  not_informative
13607  data_image/mexico_earthquake/21_9_2017/9107007...      informative

[13608 rows x 2 columns]

In [ ]:
code = []

for i in range(df2.shape[0]):
    if (df2.iloc[i]['label_image']=='informative'):
        code.append(1)
    elif (df2.iloc[i]['label_image']=='not_informative'):
        code.append(0)
    else:
        poke_type.append('NaN')
        code.append('NaN')

In [ ]:
df2['code'] = code
new_df1 = df2

new_df1.reset_index(drop=True, inplace=True)

In [ ]:
new_df1

,image,label_image,code
0,data_image/california_wildfires/10_10_2017/917...,informative,1
1,data_image/california_wildfires/10_10_2017/917...,not_informative,0
2,data_image/california_wildfires/10_10_2017/917...,informative,1
3,data_image/california_wildfires/10_10_2017/917...,informative,1
4,data_image/california_wildfires/10_10_2017/917...,informative,1
...,...,...,...
13603,data_image/hurricane_maria/25_9_2017/912341945...,informative,1
13604,data_image/hurricane_irma/19_9_2017/9099366121...,not_informative,0
13605,data_image/hurricane_harvey/7_9_2017/905581858...,not_informative,0
13606,data_image/hurricane_irma/18_9_2017/9098797465...,not_informative,0
13607,data_image/mexico_earthquake/21_9_2017/9107007...,informative,1

In [ ]:
new_df1.drop('label_image',axis = 1,inplace=True)

In [ ]:
from sklearn.model_selection import train_test_split
train_df1, test_df1= train_test_split(df2, test_size=0.2, random_state=25)

In [ ]:
test_df1

                                                   image      label_image
6334   data_image/hurricane_maria/24_9_2017/911922812...  not_informative
10738  data_image/hurricane_maria/1_10_2017/914599836...  not_informative
3986   data_image/hurricane_maria/23_10_2017/92227041...  not_informative
438    data_image/srilanka_floods/28_6_2017/880086747...  not_informative
2803   data_image/hurricane_irma/18_9_2017/9098461211...      informative
...                                                  ...              ...
1775   data_image/hurricane_maria/25_9_2017/912389558...  not_informative
1645   data_image/hurricane_maria/23_9_2017/911712278...      informative
6420   data_image/hurricane_irma/17_9_2017/9093950452...      informative
13236  data_image/srilanka_floods/29_6_2017/880461341...  not_informative
7692   data_image/hurricane_irma/18_9_2017/9097503863...      informative

[2722 rows x 2 columns]

In [ ]:
train_df1

                                                   image  code
11191  data_image/hurricane_harvey/7_9_2017/905935224...     1
7707   data_image/mexico_earthquake/27_9_2017/9130488...     1
182    data_image/srilanka_floods/1_6_2017/8701060807...     0
1724   data_image/hurricane_maria/24_9_2017/912102963...     1
7911   data_image/hurricane_maria/30_9_2017/914272099...     0
...                                                  ...   ...
2934   data_image/hurricane_irma/19_9_2017/9099325257...     0
10383  data_image/hurricane_irma/18_9_2017/9097972497...     0
6618   data_image/hurricane_harvey/4_9_2017/904850093...     0
8510   data_image/hurricane_irma/7_9_2017/90571203508...     1
13444  data_image/iraq_iran_earthquake/14_11_2017/930...     1

[10886 rows x 2 columns]

In [ ]:
import cv2

In [ ]:
nrows=150
ncolumns=150
channels=3

In [ ]:
def read(path,lab):
    X5=[]
    y5=[]
    for image in path:
        image='/content/drive/MyDrive/data_image/'+image
        X5.append(cv2.resize(cv2.imread(image,cv2.IMREAD_COLOR),(nrows,ncolumns),interpolation=cv2.INTER_CUBIC))
    for la in lab:
        if(la=='informative'):
            y5.append(1)
        else:
            y5.append(0)
    return X5,y5

In [ ]:
X,y=read(train_df1['image'],train_df1['label_image'])

In [ ]:
X[0]

array([[[216, 203, 159],
        [180, 162, 132],
        [182, 179, 147],
        ...,
        [ 39,  49,  47],
        [117, 119, 129],
        [124, 124, 140]],

       [[218, 195, 169],
        [176, 156, 125],
        [119,  98,  69],
        ...,
        [102, 109, 120],
        [122, 124, 142],
        [111, 116, 126]],

       [[223, 197, 175],
        [214, 191, 161],
        [201, 176, 145],
        ...,
        [106, 113, 131],
        [119, 123, 141],
        [116, 122, 135]],

       ...,

       [[ 97,  91,  78],
        [107,  98,  85],
        [104,  95,  82],
        ...,
        [173, 158, 162],
        [172, 178, 190],
        [141, 147, 160]],

       [[ 98,  91,  76],
        [109,  98,  84],
        [110,  99,  85],
        ...,
        [183, 162, 155],
        [175, 172, 175],
        [151, 149, 151]],

       [[107,  96,  82],
        [109,  98,  84],
        [112,  99,  83],
        ...,
        [188, 154, 144],
        [200, 189, 183],
        [151, 143, 146]]], dtype=uint8)

In [ ]:
y

[1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 ...]

In [ ]:
X=np.array(X)

In [ ]:
X.shape

(10886, 150, 150, 3)

In [ ]:
y=np.array(y)

In [ ]:
y.shape

(10886,)

In [ ]:
X_train1, X_test1, y_train1, y_test1 = train_test_split(X, y, random_state=42, test_size=0.20)

In [ ]:
X_train1.shape

(8708, 150, 150, 3)

In [ ]:
train_datagen = ImageDataGenerator(
    
    rescale=1./255., 
    rotation_range=40, 
    width_shift_range=0.2, 
    height_shift_range=0.2, 
    shear_range=.2, 
    zoom_range=0.2,
    horizontal_flip=True, 
    fill_mode='nearest',
    validation_split=0.1
)

In [ ]:
train_generator = train_datagen.flow(
    X_train1,y_train1,batch_size=32, 
   
)
validation_generator= train_datagen.flow(
    X_test1,y_test1,batch_size=32, 
   
)

In [ ]:
model1 = keras.Sequential()

# Convolutional layer and maxpool layer 1
model1.add(keras.layers.Conv2D(32,(3,3),activation='relu',input_shape=(150,150,3)))
model1.add(keras.layers.MaxPool2D(2,2))

# Convolutional layer and maxpool layer 2
model1.add(keras.layers.Conv2D(64,(3,3),activation='relu'))
model1.add(keras.layers.MaxPool2D(2,2))

# Convolutional layer and maxpool layer 3
model1.add(keras.layers.Conv2D(128,(3,3),activation='relu'))
model1.add(keras.layers.MaxPool2D(2,2))

# Convolutional layer and maxpool layer 4
model1.add(keras.layers.Conv2D(128,(3,3),activation='relu'))
model1.add(keras.layers.MaxPool2D(2,2))

# This layer flattens the resulting image array to 1D array
model1.add(keras.layers.Flatten())
# model1.add(keras.dropout(0.5))
# Hidden layer with 512 neurons and Rectified Linear Unit activation function 
model1.add(keras.layers.Dense(512,activation='relu'))

# Output layer with single neuron which gives 0 for Cat or 1 for Dog 
#Here we use sigmoid activation function which makes our model output to lie between 0 and 1
model1.add(keras.layers.Dense(1,activation='sigmoid'))

In [ ]:
model1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv2d_4 (Conv2D)           (None, 148, 148, 32)      896

 max_pooling2d_4 (MaxPooling  (None, 74, 74, 32)       0
 2D)

 conv2d_5 (Conv2D)           (None, 72, 72, 64)        18496

 max_pooling2d_5 (MaxPooling  (None, 36, 36, 64)       0
 2D)

 conv2d_6 (Conv2D)           (None, 34, 34, 128)       73856

 max_pooling2d_6 (MaxPooling  (None, 17, 17, 128)      0
 2D)

 conv2d_7 (Conv2D)           (None, 15, 15, 128)       147584

 max_pooling2d_7 (MaxPooling  (None, 7, 7, 128)        0
 2D)

 flatten_1 (Flatten)         (None, 6272)              0

 dense_2 (Dense)             (None, 512)               3211776

 dense_3 (Dense)             (None, 1)                 513

=================================================================
Total params: 3,453,121
Trainable params: 3,453,121
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model1.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [ ]:
history1=model1.fit_generator(train_generator,
         
         epochs = 2,
         validation_data=validation_generator
       
         )

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: UserWarning: `Model.fit_generator` is deprecated and will be removed in a future version. Please use `Model.fit`, which supports generators.
  after removing the cwd from sys.path.

Epoch 1/2
273/273 [==============================] - 54s 196ms/step - loss: 0.6916 - accuracy: 0.5281 - val_loss: 0.6916 - val_accuracy: 0.5174
Epoch 2/2
273/273 [==============================] - 53s 194ms/step - loss: 0.6884 - accuracy: 0.5404 - val_loss: 0.6865 - val_accuracy: 0.5455

In [ ]:
results = model1.evaluate_generator(validation_generator)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: `Model.evaluate_generator` is deprecated and will be removed in a future version. Please use `Model.evaluate`, which supports generators.
  """Entry point for launching an IPython kernel.

In [ ]:
print("Accuracy = ", results[1]*100)

Accuracy =  53.90266180038452

In [ ]:
results1 = model1.evaluate(X_test1, y_test1, batch_size=32)

69/69 [==============================] - 1s 11ms/step - loss: 16.0752 - accuracy: 0.5041

In [ ]:
print("Accuracy = ", results1[1]*100)

Accuracy =  50.41322112083435

# COMBINATION

In [ ]:
from keras import Model
from keras.layers.core import Dense, Activation
from keras.layers import Conv2D, Conv1D, MaxPooling2D, Reshape, Concatenate, Dropout , MaxPooling1D, Flatten
from keras.layers import Dense, Input

In [ ]:
out1 = model.output

In [ ]:
out2=model1.output

In [ ]:
from keras.layers import concatenate 
from keras.layers import Concatenate 

x = concatenate([out1, out2])

In [ ]:
out = Dense(1, activation='softmax')(x)

In [ ]:
model2 = Model(inputs=[model.input, model1.input], outputs=[out])

model2.compile(optimizer='adam', loss='binary_crossentropy',metrics=['accuracy'])

In [ ]:
model2.summary()

Model: "model"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 conv2d_4_input (InputLayer)    [(None, 150, 150, 3  0           []
                                )]

 conv2d_4 (Conv2D)              (None, 148, 148, 32  896         ['conv2d_4_input[0][0]']
                                )

 max_pooling2d_4 (MaxPooling2D)  (None, 74, 74, 32)  0           ['conv2d_4[0][0]']

 conv2d_5 (Conv2D)              (None, 72, 72, 64)   18496       ['max_pooling2d_4[0][0]']

 embedding_input (InputLayer)   [(None, 10)]         0           []

 max_pooling2d_5 (MaxPooling2D)  (None, 36, 36, 64)  0           ['conv2d_5[0][0]']

 embedding (Embedding)          (None, 10, 32)       320000      ['embedding_input[0][0]']

 conv2d_6 (Conv2D)              (None, 34, 34, 128)  73856       ['max_pooling2d_5[0][0]']

 flatten (Flatten)              (None, 320)          0           ['embedding[0][0]']

 max_pooling2d_6 (MaxPooling2D)  (None, 17, 17, 128)  0          ['conv2d_6[0][0]']

 dense (Dense)                  (None, 16)           5136        ['flatten[0][0]']

 conv2d_7 (Conv2D)              (None, 15, 15, 128)  147584      ['max_pooling2d_6[0][0]']

 dropout (Dropout)              (None, 16)           0           ['dense[0][0]']

 max_pooling2d_7 (MaxPooling2D)  (None, 7, 7, 128)   0           ['conv2d_7[0][0]']

 dense_1 (Dense)                (None, 8)            136         ['dropout[0][0]']

 flatten_2 (Flatten)            (None, 6272)         0           ['max_pooling2d_7[0][0]']

 dropout_1 (Dropout)            (None, 8)            0           ['dense_1[0][0]']

 dense_5 (Dense)                (None, 512)          3211776     ['flatten_2[0][0]']

 dense_2 (Dense)                (None, 1)            9           ['dropout_1[0][0]']

 dense_6 (Dense)                (None, 1)            513         ['dense_5[0][0]']

 concatenate (Concatenate)      (None, 2)            0           ['dense_2[0][0]',
                                                                  'dense_6[0][0]']

 dense_7 (Dense)                (None, 1)            3           ['concatenate[0][0]']

==================================================================================================
Total params: 3,778,405
Trainable params: 3,778,405
Non-trainable params: 0
__________________________________________________________________________________________________

In [ ]:
history2=model2.fit([X_train,X_train1], y_train)

290/290 [==============================] - 181s 617ms/step - loss: 0.7826 - accuracy: 0.7073